extends ../main.jade

block title
		title Create role

block include-lib
		script(type='text/javascript' src='/js/conference/role/create.js')

block content
		.container(style="padding-right: 0px; padding-left: 0px;")
			h1 New role
			p.lead Please provide new role's information
				br
				form(id='role-form' role='form' method='post')
					.col-md-4
						.form-group
							label(for='name') Name *
							input(type='text', name='name', class='form-control', 
								id='name', placeholder='Role\'s name', 
								required, data-required-msg='Please enter role\'s name')
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/conference/#{conf._id}/role')
								button.btn.btn-default(type="button", style="margin-left: 5px") Cancel