extends ../main.jade

block title
		title Edit role

block include-lib
		script(type='text/javascript' src='/js/conference/role/edit.js')
		script(type='text/javascript' src='/js/conference/role/delete.js')

block content
		.container
			h2 Please provide the role's information
			a.btn.btn-info(href='/conference/#{conf._id}/role')
				i.glyphicon.glyphicon-menu-left.icon-white
				| Back to role(s)
			.row
				br
				form(id='role-form' role='form' method='post')
					.col-md-4
						input(type='hidden', name='slug', class='form-control', 
							id='slug' value=role.slug readonly)
						input(type='hidden', name='uri', class='form-control', 
							id='uri' value=role.uri readonly)
						.form-group
							label(for='name') Name *
							input(type='text', name='name', class='form-control', 
								id='name', placeholder='Role\'s name', 
								value=role.name
								required, data-required-msg='Please enter role\'s first name')
						br
						.form-group
							button.btn.btn-success(id='save-button') Save
							a(href='/conference/#{conf._id}/role/#{role._id}' style="margin-left: 5px")
								button.btn.btn-default(type="button") Cancel
							a.btn.btn-danger(class='delete-role-btn' data-role-id=role._id style="margin-left: 5px")
								| Delete 