-if((typeof(listRole) == ('undefined') || listRole == null || listRole.length == 0) && (firstPage)){
.alert.alert-danger(role='alert')
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
    span   There is no role in this conference.

-}

each role, i in listRole
    .panel.panel-info(class='collapse-panel', data-id='#{role._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' class='collapse-button' href='#collapse-'+i)
                    span(class="glyphicon glyphicon-plus")
                a(href='/conference/#{conf._id}/role/#{role._id}')
                    |	#{role.name}
        .panel-collapse.collapse.panel-info(id='collapse-'+i)
            .panel-body
                .col-md-8
                    table.table.table-user-information
                        tbody
                            tr
                                td Uri
                                td
                                    a(href=role.uri)=role.uri
                            -if(typeof(role.list_holder) != 'undefined'){
                            each holder in role.list_holder
                                tr
                                    td
                                        a(href='/conference/#{conf._id}/person/#{holder._person_acronym}')
                                            |	#{holder.person_displayname}

                                    td
                                        a(href=holder.person_uri)
                                            |	#{holder.person_uri}
                            -}
                .col-md-4(align="center") 
                            a.btn.btn-success(href='/conference/#{conf._id}/role/#{role._id}' title="View")
                                i.glyphicon.glyphicon-zoom-in.icon-white
                        
                            - if(isOwner){
                            a.btn.btn-info(href='/conference/#{conf._id}/role/#{role._id}/edit' title="Edit" style="margin-left: 5px")
                                i.glyphicon.glyphicon-edit.icon-white
                        
                            a.btn.btn-danger(href='#' class="delete-role-btn" data-role-id='#{role._id}' title="Delete" style="margin-left: 5px")
                                i.glyphicon.glyphicon-trash.icon-white
                          
                            -}
            //- tr
            //- 	td(style="width:150px; text-align: center;")
            //- 		a(href='/conference/#{conf.acronym}/person/#{person.acronym}')
            //- 			img.img-responsive.img-circle(src=person.ava_path alt="avatar"
            //- 							style="max-height:100px; max-width:100px; margin: 0 auto;")
            //- 			| #{person.displayname}
                //- -if( (typeof(listRole) !== 'undefined' && listRole != null && listRole.length >= 0) || isOwner){
                //- 	td
                //- 		.form-group(class='list-role-anchor' id='list-role-anchor-#{index}'
                //- 					data-is-owner='#{isOwner}' data-init-inputs=listRole )
                //- -}
                //- -if( (typeof(listPublication) !== 'undefined' && listPublication != null && listPublication.length >= 0) || isOwner){
                    td
                        .form-group(class='list-publication-anchor' id='list-publication-anchor-#{index}'
                                    data-is-owner='#{isOwner}' data-init-inputs=listPublication )
                -}
                -if(isOwner){
                    td(style="width:100px")
                        button.btn.btn-success(class='save-person-button'  data-index=index
                                                data-person-id=person._id data-person-acronym=person.acronym
                                                 data-person-firstname=person.firstname data-person-lastname=person.lastname)
                            |Save role
                        a.btn.btn-info(href='/conference/#{conf.acronym}/person/#{person.acronym}/edit')
                            |Edit person
                -}