extends ../main.jade

block include-lib
    //- script(src='/js/conference/role.js')
    script(type='text/javascript' src='/js/conference/role/delete.js')
    script(type='text/javascript' src='/js/component/show-all.js')
    link(rel='stylesheet' href='/css/component/show-all.css')

block content

    //- -if(isOwner){
    //- 	.row
    //- 		.col-md-6
    //- 			.panel.panel-info
    //- 				.panel-heading
    //- 					h4.panel-title
    //- 						a(data-toggle='collapse' href='#collapse')
    //- 							span(class="glyphicon glyphicon-plus")
    //- 						a(data-toggle='collapse' href='#collapse')
    //- 							|  Add person to conference
    //- 				.panel-collapse.collapse(id='collapse' data-conf-id=conf._id)
    //- 					#list-user-holder
    //- 					.btn.btn-success#add-button
    //- 						.glyphicon.glyphicon-plus
    //- 							| Add
    //- 					.btn.btn-default#close-button
    //- 						.glyphicon.glyphicon-remove
    //- 							| Close
    //- -}

    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        .page-select.form-inline
            -if(isOwner){
            a.btn.btn-success.create-btn(href='role/create', style="float: left")
                i.glyphicon.glyphicon-plus.icon-white
                |    New role
            -}

            .search-widget.input-group(style="height:34px; margin-right: 22%;")
                label.input-group-addon(for="search")
                    | Search
                input(id="search")(style="height:34px")

    
            label(for="pageselect")
                | Elements displayed :
            select.form-control(id="pageselect")
                option(value=10) 10
                option(value=25) 25
                option(value=50) 50

    .container-fluid(id="list-container")(style="padding-right: 0px; padding-left: 0px;")

    a.btn.btnsuccess(id="btn-more")
        i.glyphicon.glyphicon-plus.icon-white
        |    More