extends ../main.jade

block title
	title #{role.name}

block include-lib
	script(type='text/javascript' src='/js/conference/role/delete.js')

//- http://bootsnipp.com/snippets/featured/simple-user-profile
block content

	.panel.panel-info
		.panel-heading
			h3.panel-title=role.name
		.panel-body
			.col-md-11
				table.table.table-user-information
					tbody
						tr
							td Name
							td=role.name
	- if(isOwner){
		.container-fluid(style="padding-right: 0px; padding-left: 0px; margin-bottom: 5px" align="right")
			a.btn.btn-info(href='/conference/#{conf._id}/role/#{role._id}/edit')
				//i.glyphicon.glyphicon-edit.icon-white
				| Edit
			a.btn.btn-danger(class='delete-role-btn' data-role-id=role._id style="margin-left: 5px")
				//i.glyphicon.glyphicon-trash.icon-white
				| Delete
	-}

	-if(typeof(listPersons) == ('undefined') || listPersons == null || listPersons.length == 0){
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|  No one in the conference holds that role.

	-}else{
		.panel.panel-info
			.panel-heading
				h4.panel-title
					|	List of persons holding this role
			.row.list-user-holder
				each person in listPersons
					.col-md-3.user-holder
						.col-md-8(style="text-align: center;")
							a(href='/conference/#{conf._id}/person/#{person._id}')
								img.img-responsive.img-circle(src=person.ava_path alt="avatar")
								| #{person.displayname}
	-}