extends ../../layout/base.jade

block title
    title New event category

block include-lib
    script(type='text/javascript' src='/js/conference/eventCategory/create.js')
block body
    block content
        .container
            h1 New event category
            p.lead Please provide new event's category information

            .row

                br
                form(id='eventCategory-form' role='form' method='post')

                    .row
                        .col-md-4
                            .form-group
                                label Name *
                                input(type='text', name='nameEventCat', class='form-control',
                                id='nameEventCat', placeholder='event\'s name',
                                required, data-required-msg='Please enter event\'s category name')
                    .row
                        .col-md-8
                            .form-group
                                button.btn.btn-success(id='eventCatPersistBtn') Create
                                button.btn.btn-default(type="button") Cancel