extends ../../layout/base.jade

block title
    title Edit your event

block include-lib
    script(type='text/javascript' src='/js/conference/eventCategory/edit.js')
    //script(type='text/javascript' src='/js/conference/eventCategory/delete.js')

block body
    block content
        .container
            h1 Edit event category
            .row
                br
                form(id='event-form' role='form' method='post')
                    .row
                        .col-md-4
                            .form-group
                                label Name *
                                input(type='text', name='name', class='form-control',
                                id='name', placeholder='Event\'s category name',
                                value=eventCategory.name
                                required, data-required-msg='Please enter event\'s name')
                    .row
                        .col-md-4
                            .form-group
                                button.btn.btn-success(id='save-button') Save