each eventCat, i in listEventCat

    .panel.panel-info(data-id='#{eventCat._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' href='#collapse-' + i)
                    span(class="glyphicon glyphicon-plus")
                //- a(data-toggle='collapse' href='#collapse-'+i)=event.name
                a(href='event/#{eventCat.name}')
                    |  #{eventCat.name}
        .panel-collapse.collapse.panel-info(id='collapse-' + i)
            .panel-body
                .row
                    .col-md-12.col-lg-12
                        table.table.table-user-information
                            tbody
                                tr
                                    td Event category name
                                    td=eventCat.name

                        a.btn.btn-success(href='/events/category/#{eventCat.name}')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            | View
                        a.btn.btn-info(href='/events/category/#{eventCat.name}/edit')
                            i.glyphicon.glyphicon-edit.icon-white
                            | Edit
                        a.btn.btn-danger(href='#' class="delete-eventCat-btn" data-eventcat-name='#{eventCat.name}')
                            i.glyphicon.glyphicon-trash.icon-white
                            | Delete