extends ../../layout/base.jade


block title
    title All event

block include-lib
    //- script(type='text/javascript' src='/js/conference/person/delete.js')
    //script(type='text/javascript' src='/js/component/show-all.js')
    script(type='text/javascript' src='/js/conference/eventCategory/delete.js')
    link(rel='stylesheet' href='/css/component/show-all.css')
block body
    block content
        .container-fluid
            - if (typeof(listEventCat) === 'undefined' || listEventCat === null || (listEventCat.length==0) ){
            .alert.alert-danger(role='alert')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                |   There is no event category.
            -}

            a.btn.btn-success(href='/events/category/create' style='margin-bottom:15px')
                i.glyphicon.glyphicon-plus.icon-white
                |    Create new event category


            .container-fluid(id="list-container")
                include event-cat-partial
