extends ../layout/base.jade

block title
		title create new conference

block include-lib
		script(type='text/javascript' src='/js/conference/form-validator.js')
		script(type='text/javascript' src='/js/conference/create.js')

block body
		.container
			h1 New conference
			p.lead(style="margin-bottom: 5px;") Import your conference (RDF, JSON or XLSX)
			.col-md-12(style="margin-left: 15px;")
				form(id='dataset-upload-form' role='form' method='post' action='/file-handle/reader/import-datset'
					 enctype="multipart/form-data" style="width:300px;")
					#kv-dataset-errors(style='width:800px;display:none')
					input(id="datasetFileInput" name="datasetFile" type="file" class="file-loading")
			br
			br
			br
			p.lead Or provide your conference's information

			.row(style="margin-left: 10px")
				form(id='conference-form' role='form' method='post')
					.col-md-4
						.form-group
							label(for='title') Title *
							input(type='text', name='title', class='form-control', 
								id='title', placeholder='Conference\'s title',
								required, data-required-msg='Please enter your conference\'s title')
						.form-group
							label(for='uri') URI *
							input(type='text', name='uri', class='form-control', 
								id='uri', placeholder='Conference\'s unique URI', 
								required, data-required-msg='Please enter your conference\'s unique URI',
								data-rule-url='Please enter a valid URL.')
						.form-group
							label(for='acronym') Acronym *
							input(type='text', name='acronym', class='form-control', 
								id='acronym', placeholder='Conference\'s unique acronym', 
								required,
								data-required-msg='Please enter your conference\'s acronym',
								data-rule-validAcronym='An acronym can only contain letters and numbers.')
						.form-group
							label(for='description') Description
							input(type='text', name='description', class='form-control', 
								id='description', placeholder='Description of conference ...')
						.form-group
							label(for='homepage') Homepage
							input(type='text', name='homepage', class='form-control', 
								id='homepage', placeholder='www.yourpage.com')
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/')
								button.btn.btn-default(type="button" style="margin-left:5px") Cancel
					.col-md-4
						.form-group
							label(for='date-begin') Start at *
							input(type='text', name='date_begin', class='form-control date-picker', 
								id='date-begin', placeholder='Your conference begins at: ', 
								required, data-required-msg='Please choose a date')
						.form-group
							label(for='date-end') Finish at *
							input(type='text', name='date_end', class='form-control date-picker', 
								id='date-end', placeholder='Your conference lasts until: '
								required, data-required-msg='Please choose a date') 

						.form-group
							label(for='country') Location *
							select(class='crs-country form-control' name='country'
								   data-region-id='region' data-default-option='Please select a contry'
								   data-default-value='France')
						.form-group
							label(for='region') Region *
							select(id='region' class='form-control' name='region'
								   data-blank-option='France' data-default-option='Please select a region'
								   data-default-value='Rhone-Alpes')
						.form-group
							label(for='lang') Language *
							select(class='form-control' name='lang' data-required-msg='Please choose a date' required)
								each lang in listLang
									-if(lang.name=='French'){
										option(value='#{lang.val}' selected)
											|#{lang.name}
									-}else{
										option(value='#{lang.val}')
											|#{lang.name}
									-}

				.col-md-4
					label Upload a logo from your computer:
					#kv-logo-errors(style='width:800px;display:none')
					form(id="logo-upload" enctype='multipart/form-data')
						.kv-avatar(style='width:220px; width: 170px;')
							input#conf-logo.file-loading(name='image', type='file'
							data-default-logo-url=''
							data-default-preview-content='<img src="/img/sympozer_logo.png" alt="Your Logo" style="width:160px">')
					br

					form(id="logo-url-form")
						label(for='logo-url') Or paste your logo url:
						input.form-control(id='logo-url' type='text' name='confLogoUrl')
						button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" style="margin-top:5px;")(title='Cancel or reset changes') 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#logo-url-load(type="buton" class="btn btn-primary" style="margin-top:5px; margin-left:5px; width: 42px;")(title='Load image')
							i.glyphicon.glyphicon-refresh
							// span Load image
			br
