extends ./main.jade

block title
		title Edit your conference

block include-lib
		script(type='text/javascript' src='/js/conference/form-validator.js')
		script(type='text/javascript' src='/js/conference/edit.js')
		script(type='text/javascript' src='/js/conference/delete.js')

block content

	.page-header.center
		h2 Please provide your conference's information
		a.btn.btn-info(href='/conference/myconferences')
			i.glyphicon.glyphicon-menu-left.icon-white
			| Back to my conference(s)

	
	form(id='conference-form' role='form' method='post')
		.col-md-4
			.form-group
				label(for='title') Title *
				input(type='text' name='title', class='form-control'
					id='title', placeholder='Conference\'s title'
					value=conf.title
					required data-required-msg='Please enter your conference\'s title')
			.form-group
				label(for='uri') URI (unique)
				input(type='text', name='uri', class='form-control', 
					id='uri', placeholder='Conference\'s unique URI', 
					value=conf.uri readonly
					required, data-required-msg='Please enter your your conference\'s unique URI')
			.form-group
				label(for='acronym') Acronym (unique)
				input(type='text', name='acronym', class='form-control', 
					id='acronym', placeholder='Conference\'s unique acronym', 
					value=conf.acronym readonly
					required, data-required-msg='Please enter your your conference\'s unique acronym')
			.form-group
				label(for='description') Description
				input(type='text' name='description' class='form-control'
					id='description' placeholder='Description of conference ...'
					value=conf.description)
			.form-group
				label(for='homepage') Homepage
				input(type='text' name='homepage' class='form-control'
					id='homepage' placeholder='www.yoursite.com'
					value=conf.homepage)
			br
			.form-group
				button.btn.btn-success(id='save-button') Save
				a(href='/conference/#{conf._id}')
					button.btn.btn-default(type="button", style="margin-left: 5px") Cancel
				a.btn.btn-danger(class='delete-conf-btn' data-conf-id=conf._id style="margin-left: 5px" title='Delete') Delete
					//i.glyphicon.glyphicon-trash.icon-whites
					
		.col-md-4
			.form-group
				label(for='date-begin') Starts *
				input(type='text', name='date_begin', class='form-control date-picker', 
						id='date-begin', placeholder='Your conference begins at: ',
						value=conf.date_begin 
						required, data-required-msg='Please choose a date')
			.form-group
				label(for='date-end') Ends *
				input(type='text', name='date_end', class='form-control date-picker', 
						id='date-end', placeholder='Your conference lasts until: '
						value=conf.date_end
						required, data-required-msg='Please choose a date') 
			.form-group
				label(for='country') Country *
				select(class='crs-country form-control' name='country'
					   data-region-id='region' data-default-option='Please select a contry'
					   data-default-value=conf.location.country)
				label(for='region') Region *
				select(id='region' class='form-control' name='region'
					   data-blank-option='No country selected' data-default-option='Please select a region'
					   data-default-value=conf.location.region)
			.form-group
				label(for='lang') Language *
				select(class='form-control' name='lang')
					each lang in listLang
						-if(lang.val == conf.language.code) {
							option(value='#{lang.val}' selected)
								|#{lang.name}
						-}else{
							option(value='#{lang.val}')
								|#{lang.name}
						-}


	.col-md-4
		label Upload a logo from your computer:
		#kv-avatar-errors(style='width:800px;display:none')
		form(id="logo-upload" enctype='multipart/form-data')
			.kv-avatar(style='width:220px;  width: 170px;')
				input#conf-logo.file-loading(name='image', type='file'
				data-default-logo-url=conf.logo_path
				data-default-preview-content='<img src="'+conf.logo_path+'" alt="Your Logo" style="width:160px">'
				data-default-img-src=conf.logo_path)
		br

		form(id="logo-url-form")
			label(for='logo-url') Or paste your logo url:
			input.form-control(id='logo-url' type='text' name='confLogoUrl')
			button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" style="margin-top:5px;") 
				i.glyphicon.glyphicon-remove(title='Cancel or reset changes')
				span Cancel
			button#logo-url-load(type="buton" class="btn btn-primary" style="margin-top:5px; margin-left:5px; width: 42px;") 
				i.glyphicon.glyphicon-refresh(title='Load image')
				//span Load image