extends ../layout/base.jade

block title
	title #{conf.title}

block body

	//- booststrap snippets: http://bootsnipp.com/snippets/featured/people-card-with-tabs
	link(rel='stylesheet' href='/css/component/main.css')
	script(type='text/javascript' src='/js/component/main.js')
	script(type='text/javascript' src='/js/component/connect-account.js')
	script(type='text/javascript' src='/js/conference/create.js')

	//- .row(style="margin:0px")
		a.btn.btn-warning(href="/file-handle/writer/json/#{conf.acronym}")
			span.glyphicon.glyphicon-export
				|   Exporter le dataset
	.card.hovercard(id='conf-info' data-acronym=conf.acronym data-id=conf._id)
		.card-background
			img.card-bkimg(alt='', src='#{conf.logo_path}')
		.useravatar
			div.col-md-12
				.btn-group(style="float:left")
					button.btn.btn-info.dropdown-toggle(type="button"  data-toggle="dropdown" title='Import data')
						| Import 
						span.caret
					ul.dropdown-menu
						li
							form(id='dataset-upload-form' role='form' method='post' action='/file-handle/reader/import-datset'
													enctype="multipart/form-data" style="width:400px")
												#kv-dataset-errors(style='width:800px;display:none')
												input(id="datasetFileInput" name="datasetFile" type="file" class="file-loading")


				.btn-group(style="float:left; margin-left:5px" title='Export data')
					button.btn.btn-info.dropdown-toggle(type="button"  data-toggle="dropdown")
						| Export 
						span.caret
					ul.dropdown-menu
						li
							a(href="/conference/#{conf._id}/file-handle/writer/ttl")
								| Turtle Format

				.btn-group(style="float:right; margin-left:5px")
					#nav(data-active="#{activeCode}")

						- if( typeof(session.user) != 'undefined' ) {

							- if( typeof(session.user.user_person) == 'undefined' || (conf.user_person.person_sha != session.user.sha) ){

								a.btn.btn-default(data-toggle='collapse' href='#collapse-person-holder')
									span.glyphicon.glyphicon-plus
									|	Connect your account to this conference
								.panel-collapse.collapse.panel-info(id='collapse-person-holder')
									#matched-person-holder

							-}else{

								span.glyphicon.glyphicon-ok
								span
									|	Connected as
									a(href="/conference/#{conf.acronym}/person/#{conf.user_person._person_acronym}")=conf.user_person.person_displayname

							-}

						-} // end if session.user != 'undefined'
			img(alt='', src='#{conf.logo_path}')
		.card-info
			span.card-title=conf.title

	.btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group')
		- if(isOwner){
			.btn-group(role='group')
				a#edit.btn.btn-default(type='button', href='/conference/#{conf._id}')
					span.glyphicon.glyphicon-globe(aria-hidden='true')
					.hidden-xs Conference
		-}
		.btn-group(role='group')
			a#tracks.btn.btn-default(type='button', href='/conference/#{conf._id}/tracks')
				span.glyphicon.glyphicon-globe(aria-hidden='true')
				.hidden-xs Tracks
		.btn-group(role='group')
			a#event.btn.btn-default(type='button', href='/conference/#{conf._id}/event')
				span.glyphicon.glyphicon-calendar(aria-hidden='true')
				.hidden-xs Events
		.btn-group(role='group')
			a#publication.btn.btn-default(type='button', href='/conference/#{conf._id}/publication')
				span.glyphicon.glyphicon-book(aria-hidden='true')
				.hidden-xs Publications
		.btn-group(role='group')
			a#person.btn.btn-default(type='button', href='/conference/#{conf._id}/person')
				span.glyphicon.glyphicon-user(aria-hidden='true')
				.hidden-xs Persons
		.btn-group(role='group')
			a#organization.btn.btn-default(type='button', href='/conference/#{conf._id}/organization')
				span.glyphicon.glyphicon-globe(aria-hidden='true')
				.hidden-xs Organizations
		.btn-group(role='group')
			a#location.btn.btn-default(type='button', href='/conference/#{conf._id}/location')
				span.glyphicon.glyphicon-home(aria-hidden='true')
				.hidden-xs Locations
		.btn-group(role='group')
			a#role.btn.btn-default(type='button', href='/conference/#{conf._id}/role')
				span.glyphicon.glyphicon-check(aria-hidden='true')
				.hidden-xs Roles
		//.btn-group(role='group')
		//	a#app.btn.btn-default(type='button', href='')
		//		span.glyphicon.glyphicon-check(aria-hidden='true')
		//		.hidden-xs App

	.btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group')


	br
	block content

