extends ./main.jade

block include-lib
	link(rel='stylesheet' href='/css/component/overview.css')
	script(type='text/javascript' src='/js/conference/delete.js')

block content

		.panel.panel-info
			.panel-heading
				h3.panel-title Author: #{author.displayname}
			.panel-body
				table.table.table-user-information
					thead
						tr
							th(style="text-align:center;") Key
							th(style="text-align:center;") Value
					tbody
							each val, index in conf
								tr(style="text-align:center; ")
									td.center=index
									td.center=val
		.div(align="right")
			- if(isOwner){
			a.btn.btn-info(href='/conference/#{conf._id}/edit')
				//i.glyphicon.glyphicon-edit.icon-white
				| Edit
			a.btn.btn-danger(class='delete-conf-btn' data-conf-id=conf._id style="margin-left: 5px")
				//i.glyphicon.glyphicon-trash.icon-white
				| Delete
			-}