extends ./main.jade

block include-lib
	script(type='text/javascript' src='/js/conference/rdf-store.js')

block content


	.panel.panel-info
		.panel-heading

			//- http://bootsnipp.com/snippets/featured/bootstrap-number-spinner-on-click-hold
			.input-group.number-spinner.col-md-3(style="display:inline-table; margin-right: 20px")
				span.input-group-btn.data-dwn
					button.btn.btn-default.btn-info(data-dir='dwn')
						span.glyphicon.glyphicon-minus
				input.form-control.text-center(id='goToPageInput' type='number', value='1', min='1', max='#{nTripleTable}')
				span.input-group-btn.data-up
					button.btn.btn-default.btn-info(data-dir='up')
						span.glyphicon.glyphicon-plus
							
			button.btn.btn-default.btn-info(id="goToPageBtn" style="margin-top: -25px") Go to page


			//- ul.pagination.pagination-lg(id='triple-pagination' data-n-page='#{nTripleTable}' data-conf-acronym=conf.acronym
										style="display:table")
			ul.pagination.pagination-lg(id='triple-pagination' data-n-page='#{nTripleTable}' data-conf-acronym=conf.acronym style="display: table")
				li#first
					a(href="#") First
				li#prev
					a(href="#") Prev
				li#cur
					a(href="#") 1
				li#next
					a(href="#") Next
				li#last
					a(href="#") Last (#{nTripleTable})


		table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
			thead
				tr
					th Subject
					th Predicate
					th Object
			tbody(id='tripleTable')