extends ../layout/base.jade

block title
		title Conferences by author

block body
	.container-fluid
		- if (typeof(errMessage) !== 'undefined'){
				.alert.alert-danger(role='alert')
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
					|   #{errMessage}
		-}else{

			- var i = 0
			each confOfUser in listConfOfUser

				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse-'+i)
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse-'+i)=confOfUser.author.displayname
							a(href='/conference/user/'+confOfUser.author.acronym)
								|  (#{confOfUser.author.acronym})
					.panel-collapse.collapse(id='collapse-'+i)
						ul.list-group
						table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
							thead
								tr
									th Logo
									th Title
									th Uri
									th Actions
									- i++
							tbody
								each conf in confOfUser.listConf
									tr
										td
											img(src=conf.logo_path alt="Your Logo" style="width:160px")
										td=conf.title
										td.center
											a(href="#{conf.uri}")=conf.uri
										td.center
											a.btn.btn-success(href='/conference/'+conf.acronym)
												i.glyphicon.glyphicon-zoom-in.icon-white
												| View
										//-
											- if(isOwner){
												a.btn.btn-info(href='/conference/'+conf.acronym+'/edit')
													i.glyphicon.glyphicon-edit.icon-white
													| Edit
												a.btn.btn-danger(class='delete-conf-btn' data-conf-acronym=conf.acronym)
													i.glyphicon.glyphicon-trash.icon-white
													| Delete
											-}
		-} //-end else