extends ../layout/base.jade

block include-lib
		script(type='text/javascript' src='/js/conference/delete.js')

block title
	-if(isOwner){
		title My conferences
	-}else{
		title Conferences of user
	-}

block body
	.container-fluid
		- if (typeof(listConf) === 'undefined' || listConf === null || (listConf.length==0) ){
				.alert.alert-danger(role='alert')
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
					|   You do not have any conference.
		-}

		table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
			thead
				tr
					th(style="text-align:center;") Logo
					th(style="text-align:center;") Title
					th(style="text-align:center;") URI
					th(style="text-align:center;") Actions
			tbody
				each conf in listConf
					tr
						td(style="text-align:center;")
							img(src=conf.logo_path alt="Your Logo" style="width:160px;max-width:160px;max-height:200px;object-fit:contain;")
						td(style="vertical-align: middle; font-weight: bold; text-align:center;")=conf.title
						td.center(style="vertical-align: middle; text-align:center;")
							a(href="#{conf._id}")=conf.uri
						td.center(style="text-align:center; vertical-align: middle")
							a.btn.btn-success(href='/conference/'+conf._id title='View')(style="margin-right: 5px")
								i.glyphicon.glyphicon-zoom-in.icon-white()

							- if(isOwner){
								a.btn.btn-info(href='/conference/'+conf._id+'/edit' title='Edit')(style="margin-right: 5px")
									i.glyphicon.glyphicon-edit.icon-white()

								a.btn.btn-danger(class='delete-conf-btn' data-conf-id=conf._id title='Delete')
									i.glyphicon.glyphicon-trash.icon-white()

							-}