extends ../layout/base.jade

block title
		title New person

block include-lib
		script(type='text/javascript' src='/js/person/create.js')

block body
		.container
			h1 New person
			p.lead Please provide new person's information

			.row

				br
				form(id='person-form' role='form' method='post')
					.col-md-4
						.form-group
							label(for='firstname') First name *
							input(type='text', name='firstname', class='form-control', 
								id='firstname', placeholder='Person\'s first name', 
								required, data-required-msg='Please enter person\'s first name')
						.form-group
							label(for='lastname') Last name *
							input(type='text', name='lastname', class='form-control', 
								id='lastname', placeholder='Person\'s last name / family name', 
								required, data-required-msg='Please enter person\'s last name / family name')
						.form-group
							label(for='email') Email *
							input(type='email', name='email', class='form-control', 
								id='email', placeholder='person.email@domain.com',
								required data-required-msg='Please enter person\'s email') 
						br
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/')
								button.btn.btn-default(type="button") Cancel
					.col-md-4
						.form-group
							label(for='homepage') Homepage
							input(type='text', name='homepage', class='form-control', 
								  id='homepage', placeholder='www.yourpage.com')
						.form-group
							label(for='country') Country *
							select(class='crs-country form-control' name='country'
								   data-region-id='region' data-default-option='Please select a contry'
								   data-default-value='France')
						.form-group
							label(for='region') Region *
							select(id='region' class='form-control' name='region'
								   data-blank-option='France' data-default-option='Please select a region'
								   data-default-value='Rhone-Alpes')
						.form-group(id='social-account-anchor')

				.col-md-4
					label Upload an avatar from your computer:
					#kv-avatar-errors(style='width:800px;display:none')
					form(id="ava-upload" enctype='multipart/form-data')
						.kv-avatar(style='width:220px')
							input#ava.file-loading(name='image', type='file'
							data-default-ava-url=''
							data-default-preview-content='<img src="" alt="Avatar" style="width:160px">')
					br
					br

					form(id="ava-url-form")
						label(for='ava-url') Or paste an avatar url:
						input.form-control(id='ava-url' type='text' name='avaUrl')
						button#ava-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button") 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#ava-url-load(type="buton" class="btn btn-primary") 
							i.glyphicon.glyphicon-refresh
							span Load image