extends ../layout/base.jade

block title
		title Edit person

block include-lib
		script(type='text/javascript' src='/js/person/edit.js')
		script(type='text/javascript' src='/js/person/delete.js')

block body
		.container
			h2 Please provide the person's information
			.row

				br
				form(id='person-form' role='form' method='post')
					.col-md-4
						input(type='hidden', name='acronym', class='form-control', 
							id='acronym' value=person.acronym readonly
							required, data-required-msg='Please enter your your conference\'s unique acronym')
						.form-group
							label(for='firstname') First name *
							input(type='text', name='firstname', class='form-control', 
								id='firstname', placeholder='Person\'s first name', 
								value=person.firstname
								required, data-required-msg='Please enter person\'s first name')
						.form-group
							label(for='lastname') Last name *
							input(type='text', name='lastname', class='form-control', 
								id='lastname', placeholder='Person\'s last name / family name', 
								value=person.lastname
								required, data-required-msg='Please enter person\'s last name / family name')
						.form-group
							label(for='email') Email *
							input(type='email', name='email', class='form-control', 
								id='email', placeholder='person.email@domain.com',
								value=person.email readonly
								required data-required-msg='Please enter person\'s email')
						br
						.form-group
							button.btn.btn-success(id='save-button') Save
							a(href='/person/all')
								button.btn.btn-default(type="button") Cancel
							a.btn.btn-danger(id='delete-person-btn' data-person-acronym=person.acronym)
								i.glyphicon.glyphicon-trash.icon-white
								| Delete person
					.col-md-4
						.form-group
							label(for='homepage') Homepage
							input(type='text', name='homepage', class='form-control', 
								  id='homepage', placeholder='www.yourpage.com'
								  value=person.homepage)
						.form-group
							label(for='country') Country *
							select(class='crs-country form-control' name='country'
								   data-region-id='region' data-default-option='Please select a contry'
								   data-default-value=person.location.country)
						.form-group
							label(for='region') Region *
							select(id='region' class='form-control' name='region'
								   data-blank-option='France' data-default-option='Please select a region'
								   data-default-value=person.location.region)
						.form-group(id='social-account-anchor' data-init-inputs=person.social_account)

				.col-md-4
					label Upload an avatar from your computer:
					#kv-avatar-errors(style='width:800px;display:none')
					form(id="ava-upload" enctype='multipart/form-data')
						.kv-avatar(style='width:220px')
							input#ava.file-loading(name='image', type='file'
							data-default-ava-url=person.ava_path
							data-default-preview-content='<img src="'+person.ava_path+'" alt="Avatar" style="width:160px">'
							data-default-img-src=person.ava_path)
					br
					br

					form(id="ava-url-form")
						label(for='ava-url') Or paste an avatar url:
						input.form-control(id='ava-url' type='text' name='avaUrl')
						button#ava-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button") 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#ava-url-load(type="buton" class="btn btn-primary") 
							i.glyphicon.glyphicon-refresh
							span Load image