extends ../layout/base.jade

//-block include-lib


block title
	title All people

block include-lib
	script(type='text/javascript' src='/js/person/delete.js')

block body
	.container-fluid
		- if (typeof(listPerson) === 'undefined' || listPerson === null || (listPerson.length==0) ){
				.alert.alert-danger(role='alert')
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
					|   There is no person in database.
		-}

		- var i = 0
			each person in listPerson

				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse-'+i)
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse-'+i)=person.displayname
							a(href='/person/#{person.acronym}')
								|  (#{person.acronym})
					.panel-collapse.collapse.panel-info(id='collapse-'+i)
						.panel-body
							.row
								.col-md-3.col-lg-3(align='center')
									img.img-circle.img-responsive(alt='User Pic', src='#{person.ava_path}')

								.col-md-9.col-lg-9
									table.table.table-user-information
										tbody
											tr
												td First name
												td=person.firstname
											tr
												td Last name
												td=person.lastname
											tr
												td Email
												td
													a(href='mailto:#{person.email}')=person.email
											tr
												td Address
												td=person.location.formatted_address
											td Social accounts
											td
												each account in person.social_account
													a(href="#{account}")=account
													br
									- i++
									- if(person.isOwner){
										a.btn.btn-info(href='/person/#{person.acronym}/edit')
											i.glyphicon.glyphicon-edit.icon-white
											| Edit
										a.btn.btn-danger(href='#' class="delete-person-btn" data-person-acronym='#{person.acronym}')
											i.glyphicon.glyphicon-trash.icon-white
											| Delete
									-}