extends ../layout/base.jade

block title
	title #{person.displayname}

block include-lib
	script(type='text/javascript' src='/js/person/delete.js')

//- http://bootsnipp.com/snippets/featured/simple-user-profile
block body

	.panel.panel-info
		.panel-heading
			h3.panel-title=person.displayname
		.panel-body
			.row
				.col-md-3.col-lg-3(align='center')
					img.img-circle.img-responsive(alt='User Pic', src='#{person.ava_path}')

				.col-md-9.col-lg-9
					table.table.table-user-information
						tbody
							tr
								td First name
								td=person.firstname
							tr
								td Last name
								td=person.lastname
							tr
								td Email
								td
									a(href='mailto:#{person.email}')=person.email
							tr
								td Address
								td=person.location.formatted_address
							td Social accounts
							td
								each account in person.social_account
									a(href="#{account}")=account
									br
							- if(person.isOwner){
								a.btn.btn-info(href='/person/#{person.acronym}/edit')
									i.glyphicon.glyphicon-edit.icon-white
									| Edit
								a.btn.btn-danger(href='#' class="delete-person-btn" data-person-acronym='#{person.acronym}')
									i.glyphicon.glyphicon-trash.icon-white
									| Delete
							-}