extends ../main.jade

block title
		title New organization

block include-lib
		script(type='text/javascript' src='/js/conference/organization/create.js')

block content
		.container(style="padding-right: 0px; padding-left: 0px;")
			h1 New organization
			p.lead Please provide new organization's information
			form(id='organization-form' role='form' method='post')
				.col-md-5
					.form-group
						label Name *
						input(type='text', name='name', class='form-control', 
							id='name', placeholder='Organization\'s name', 
							required, data-required-msg='Please enter organization\'s name')
					.form-group
						label Homepage
						input(type='text', name='homepage', class='form-control', 
								id='homepage', placeholder='www.yourpage.com')
					.form-group
						label Description *
						textarea(type='text', name='description', class='form-control', 
							id='description', placeholder='Organization\s description',
							required data-required-msg='Please enter organization\'s description') 
						br
					.form-group
						button.btn.btn-success(id='create-button') Create
						a(href='/conference/#{conf._id}/organization')
							button.btn.btn-default(type="button" style="margin-left: 5px") Cancel

			.col-md-3
				label Upload a logo from your computer:
				#kv-logo-errors(style='width:800px;display:none')
				form(id="logo-upload" enctype='multipart/form-data')
					.kv-logo(style='width:220px; width: 170px;')
						input#logo.file-loading(name='image', type='file'
						data-default-logo-url=''
						data-default-preview-content='<img src="/img/sympozer_logo.png" alt="Your Logo" style="width:160px">')
				br
			
			.col-md-3
				form(id="logo-url-form")
					label(for='logo-url') Or paste a logo url:
					input.form-control(id='logo-url' type='text' name='logoUrl')
					button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" style="margin-top:5px;")(title='Cancel or reset changes') 
						i.glyphicon.glyphicon-remove
						span  Cancel
					button#logo-url-load(type="buton" class="btn btn-primary" style="margin-top:5px; margin-left:5px; width: 42px;")(title='Load image')
						i.glyphicon.glyphicon-refresh
						//span Load image