extends ../main.jade

block title
		title Edit your organization

block include-lib
		script(type='text/javascript' src='/js/conference/organization/edit.js')
		script(type='text/javascript' src='/js/conference/organization/delete.js')

block content

	.page-header.center
		h2 Please provide your organization's information
		a.btn.btn-info(href='/conference/#{conf._id}/organization')
			i.glyphicon.glyphicon-menu-left.icon-white
			| Back to organization(s)

	form(id='organization-form' role='form' method='post')
		.col-md-4
			.form-group(style="margin-bottom: 0px")
				input(type='hidden', name='slug',
						id='slug', value=orga.slug)
				input(type='hidden', name='uri', class='form-control', 
						id='uri' value=orga.uri readonly)
			.form-group
				label Name *
				input(type='text', name='name', class='form-control', 
					id='name', placeholder='Organization\'s name',
					value=orga.name
					required, data-required-msg='Please enter organization\'s name')
			.form-group
				label Homepage
				input(type='text', name='homepage', class='form-control',
					  value=orga.homepage 
					  id='homepage', placeholder='www.yourpage.com')
			.form-group
				label Description
				input(type='description', name='description', class='form-control',
					value=orga.description 
					id='description', placeholder='Organization\s description') 
			br 
			br
			.form-group
				button.btn.btn-success(id='save-button') Save
				a(href='/conference/#{conf._id}/organization/#{orga._id}')
					button.btn.btn-default(type="button", style="margin-left: 5px") Cancel
				a.btn.btn-danger(class='delete-orga-btn' data-orga-id=orga._id style="margin-left: 5px") Delete

	.col-md-4
		label Upload a logo from your computer:
		#kv-logo-errors(style='width:800px;display:none')
		form(id="logo-upload" enctype='multipart/form-data')
			.kv-logo(style='width:220px')
				input#logo.file-loading(name='image', type='file'
				data-default-logo-url=orga.logo_path
				data-default-preview-content='<img src="'+orga.logo_path+'" alt="Logo" style="width:160px">'
				data-default-img-src=orga.logo_path)
	
	.col-md-4
		form(id="logo-url-form")
			label(for='logo-url') Or paste a logo url:
			input.form-control(id='logo-url' type='text' name='logoUrl')
			button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" title="Cancel and reset changes" style="margin-top: 5px") 
				i.glyphicon.glyphicon-remove
				span Cancel
			button#logo-url-load(type="buton" class="btn btn-primary" title="Load image" style="margin-left: 5px; margin-top: 5px") 
				i.glyphicon.glyphicon-refresh
				//span Load image