- if ((typeof(listOrga) === 'undefined' || listOrga === null || (listOrga.length==0) ) && (firstPage)){
    .alert.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        span   There is no organization this conference.
-}

- var i = 0
each orga in listOrga
    .panel.panel-info(class='collapse-panel', data-id='#{orga._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' class='collapse-button' href='#collapse-' + i)
                    span(class="glyphicon glyphicon-plus")
                a(href='organization/#{orga._id}')
                    |  #{orga.name}
        .panel-collapse.collapse.panel-info(id='collapse-' + i)
            .panel-body
                .row
                    .col-md-3.col-lg-3(align='center')
                        img.img-circle.img-responsive(alt='Organization logo', src='#{orga.logo_path}')

                    .col-md-9.col-lg-9
                        table.table.table-user-information
                            tbody
                                tr
                                    td Name
                                    td=orga.name
                                tr
                                    td Homepage
                                    td
                                        a(href=orga.homepage)
                                            |  #{orga.homepage}
                                tr
                                    td Description
                                    td=orga.description
                        - i++
                        - if(isOwner){
                        a.btn.btn-success(href='/conference/#{conf._id}/organization/#{orga._id}')
                            i.glyphicon.glyphicon-eye-open.icon-white
                            |    View
                        a.btn.btn-info(href='/conference/#{conf._id}/organization/#{orga._id}/edit')
                            i.glyphicon.glyphicon-edit.icon-white
                            |    Edit
                        a.btn.btn-danger(href='#' class="delete-orga-btn" data-orga-id='#{orga._id}' data-conf-id='#{conf._id}')
                            i.glyphicon.glyphicon-trash.icon-white
                            |    Delete
                        -}