extends ../main.jade


block title
    title All organizations

block include-lib
    script(type='text/javascript' src='/js/conference/organization/delete.js')
    script(type='text/javascript' src='/js/component/show-all.js')
    link(rel='stylesheet' href='/css/component/show-all.css')

block content
    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        //- if (typeof(listOrga) === 'undefined' || listOrga === null || (listOrga.length==0) ){
        //.alert.alert-danger(role='alert')
        //    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        //    |   There is no organization this conference.
        //-}
        .page-select.form-inline
            - if(isOwner){
            a.btn.btn-success.create-btn(href='organization/create', style="float: left")
                i.glyphicon.glyphicon-plus.icon-white
                |    New organization
            -}

            .search-widget.input-group(style="height:34px; margin-right: 22%;")
                label.input-group-addon(for="search")
                    | Search
                input(id="search")(style="height:34px")
            
            label(for="pageselect")
                | Elements displayed :
            select.form-control(id="pageselect")
                option(value=10) 10
                option(value=25) 25
                option(value=50) 50

    .container-fluid(id="list-container")(style="padding-right: 0px; padding-left: 0px;")

    a.btn.btnsuccess(id="btn-more")
        i.glyphicon.glyphicon-plus.icon-white
        |    More
