extends ../main.jade

block include-lib
	link(rel='stylesheet' href='/css/component/overview.css')
	link(rel='stylesheet' href='/css/component/list-user.css')
	script(src='/js/conference/organization/member.js')
	script(type='text/javascript' src='/js/conference/organization/delete.js')

block content

	.container-fluid(style="padding-right: 0px; padding-left: 0px;")
		.panel.panel-info
			.panel-heading
				h3.panel-title=orga.name
			.panel-body
				.col-md-3.col-lg-3(align='center')
					img.img-circle.img-responsive(alt='Organization logo', src='#{orga.logo_path}')(style="max-width: 70%;")

				.col-md-9.col-lg-9
					table.table.table-user-information
						tbody
							tr
								td Name
								td=orga.name
							tr
								td Homepage
								td
									a(href=orga.homepage)
										|  #{orga.homepage}
							tr
								td Description
								td=orga.description
			- i++
	- if(isOwner){
		.container-fluid(style="padding-right: 0px; padding-left: 0px; margin-bottom: 10px" align="right")
			a.btn.btn-info(href='/conference/#{conf._id}/organization/#{orga._id}/edit')
				| Edit
			a.btn.btn-danger(href='#' class="delete-orga-btn" data-orga-id='#{orga._id}' data-conf-id='#{conf._id}' style="margin-left: 5px")
				| Delete
	-}


	-if(isOwner){
		.container-fluid(style="padding-right: 0px; padding-left: 0px;")
			.panel.panel-info
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse' href='#collapse')
							span(class="glyphicon glyphicon-plus")
						a(data-toggle='collapse' href='#collapse')
							|  Add member to organization
				.panel-collapse.collapse(id='collapse' data-orga-id='#{orga._id}')
					#list-user-holder(style="margin-top: 5px")
					-if(isOwner){
						.btn.btn-success.add-button(data-orga-id='#{orga._id}')(style="margin-right: 5px; margin-top: 5px; margin-bottom: 5px")
								| Add
					-}
					.btn.btn-default.close-button(style="margin-top: 5px; margin-bottom: 5px")
							| Close
	-}

	-if(typeof(listMember) == ('undefined') || listMember == null || listMember.length == 0){
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   There is no person in this organization.

	-}else{
		.container-fluid(style="padding-right: 0px; padding-left: 0px;")
			.panel.panel-info
				.panel-heading
					h4.panel-title
						|	List of organization members
				.row.list-user-holder
					each person in listMember
						.col-md-3.user-holder
							.col-md-10(style="text-align: center;")
								a(href='/conference/#{conf._id}/person/#{person._id}')
									img.img-responsive.img-circle(src=person.ava_path alt="avatar")
									| #{person.displayname}

							-if(isOwner){
								.col-md-2
									a.btn.btn-danger(class='remove-member-button' 
													 data-orga-id='#{orga._id}'
													 data-person-id='#{person._id}')
										i.glyphicon.glyphicon-remove.icon-white
							-}
	-}