extends ./layout/base.jade

block title
    title Login to Sympozer

block body

    .jumbotron
      h1 Welcome to the Sympozer backend.
      - if (typeof(user) !== 'undefined' && user !== null){
        //.alert.alert-success(role='success')
        //  |   Hello 
        //b=user.displayname
      -}
      - else{
        .alert.alert-success(role='success')
          | Using this app, you will be able to create your conferences and generate datasets for the Sympozer frontend app.
      -}

      - if (typeof(message) !== 'undefined'){
        .alert.alert-success(role='success')
          | #{message}
      -}

    .list-group
      a.list-group-item.list-group-item-info(href='/conference/user/all') Conferences by author
      a.list-group-item.disabled(href='#') Conferences by location
      a.list-group-item.disabled(href='#') Conferences by time