extends ./layout/base.jade

block title
		title Login to Sympozer

block body
			- if (typeof(errMessage) != 'undefined' && errMessage !== null){
				.jumbotron
					.alert.alert-danger(role='alert')
						span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
						|   Sorry, we couldn't have you log in, because: #{errMessage}
				-}
			h3 Please provide your account information to login.
			br

			form(role='form', action="/login",method="post", style='max-width: 300px;')
				.form-group
					label(for='email') Email
					input.form-control(type='email', name="username", placeholder='Enter your email')
				.form-group
					label(for='password') Password
					input.form-control(type='password', name="password", placeholder='Enter your password')
				button.btn.btn-success(type='submit') Sign in
				a(href='/')
					button.btn.btn-default(type="button") Cancel