extends ./layout/base.jade

block title
    title Create new account

block include-lib
  script(type='text/javascript' src='/js/security/register-validator.js')

block body

    h1 Create your Sympozer account
    p.lead Please provide your new account informations
    p Already have an account? Please 
      a(href="login") Login.

    - if (typeof(errMessage) != 'undefined' && errMessage !== null){
          p.lead 
          | Sorry, we couldn't register your account, here comes the reason: #{errMessage} 
    -}

    form(id='register-form' role='form', action="/register",method="post", style='max-width: 300px;')


      .form-group
          label(for='email') Email *
          input(type='email', name='username', class='form-control', 
            id='email', placeholder='your.email@domain.com',
            required data-required-msg='Please enter your email')    
      .form-group
          label(for='firstname') First name *
          input(type='text', name='firstname', class='form-control', 
            id='firstname', placeholder='Your Firstname', 
            required, data-required-msg='Please enter your firstname')
      .form-group
          label(for='lastname') Last name *
          input(type='text', name='lastname', class='form-control', 
            id='lastname', placeholder='Your Lastname', 
            required, data-required-msg='Please enter your lastname')
      .form-group
          label(for='password') Password *
          input(type='password', name='password', class='form-control', 
            id='password', placeholder='Enter password'
            required, data-required-msg='Please enter your password')
      
      .form-group
          label(for='confirm-password') Confirm Password *
          input(type='password', name='confirm-password', class='form-control', 
            id='confirm-password', placeholder='Confirm password'
            required, data-required-msg="Please confirm your password")
      .form-group
          label(for='homepage') Homepage
          input(type='text', name='homepage', class='form-control', 
            id='homepage', placeholder='yoursite.com')

      .form-group
          button.btn.btn-success Register
          a(href='/')
          button.btn.btn-default(type="button") Cancel
