extends ../main.jade

block title
		title Create location

block include-lib
		script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDd7i3gwtguOYGJ99GBTlBiJMoH14EJRxE')
		script(type='text/javascript' src='/js/component/jquery.geocomplete.min.js')
		script(type='text/javascript' src='/js/conference/location/create.js')

block content
		.container(style="padding-right: 0px; padding-left: 0px;")
			h1 New location
			p.lead Please provide new location's information

				br
				form(id='location-form' role='form' method='post')
					.col-md-4
						.form-group
							label(for='name') Name *
							input(type='text', name='name', class='form-control', 
								id='name', placeholder='Location\'s name', 
								required, data-required-msg='Please enter location\'s name')
						
						.form-group
							label(for='nbPlace') Places
							input(type='number', name='nbPlace', class='form-control',
								id='nbPlace', placeholder='Places')
						
						.form-group
							label(for='geoplace') Address
							input(type='text', name='geoplace', class='form-control',
								id='geoplace', placeholder='Address')
						
						.form-group
							label(for='description') Places
							textarea(name='description', class='form-control',
								id='description', placeholder='Description')
						
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/conference/#{conf._id}/location')
								button.btn.btn-default(type="button", style="margin-left: 5px") Cancel
					.col-md-4
						.form-group(id='comment-anchor')