extends ../main.jade

block title
		title Edit your location

block include-lib
		script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDd7i3gwtguOYGJ99GBTlBiJMoH14EJRxE')
		script(type='text/javascript' src='/js/component/jquery.geocomplete.min.js')
		script(type='text/javascript' src='/js/conference/location/edit.js')
		script(type='text/javascript' src='/js/conference/location/delete.js')

block content

	.page-header.center
		h2 Please provide your location's information
		a.btn.btn-info(href='/conference/#{conf._id}/location')
			i.glyphicon.glyphicon-menu-left.icon-white
			| Back to location(s)


	-if(location.gps && location.gps.length === 2){
		input(class='form-control hidden', id='latitude', value=location.gps[0])
		input(class='form-control hidden', id='longitude', value=location.gps[1])
	-}

	form(id='location-form' role='form' method='post')

		.col-md-4
			input(type='hidden', name='slug', class='form-control', 
				id='slug' value=location.slug readonly)
			input(type='hidden', name='uri', class='form-control', 
				id='uri' value=location.uri readonly)
			.form-group
				label Name *
				input(type='text', name='name', class='form-control', 
					id='name', placeholder='Location\'s name',
					value=location.name
					required, data-required-msg='Please enter location\'s name')
			.form-group
				label(for='nbPlace') Places
				input(type='number', name='nbPlace', class='form-control',
					value=location.nb_place
					id='nbPlace', placeholder='Places')
	
			.form-group
					label(for='geoplace') Address
					input(type='text', name='geoplace', class='form-control',
						id='geoplace', placeholder='Address')

			.form-group
					label(for='description') Places
					textarea(name='description', class='form-control',
						id='description', placeholder='Description')=location.description

			.form-group
				button.btn.btn-success(id='save-button') Save
				a(href='/conference/#{conf._id}/location/#{location._id}')
					button.btn.btn-default(type="button", style="margin-left: 5px") Cancel
				a.btn.btn-danger(class='delete-location-btn' data-location-slug=location.slug style="margin-left: 5px")
					//i.glyphicon.glyphicon-trash.icon-white
					| Delete
		.col-md-4
			.form-group
				label Uri
				input(type='text', name='uri', class='form-control',
					  value=location.uri readonly
					  id='homepage', placeholder='www.yourpage.com')
		.col-md-4
			.form-group(id='comment-anchor' data-init-inputs=location.list_comment)