- if ((typeof(listLocation) === 'undefined' || listLocation === null || (listLocation.length==0)) && (firstPage)){
.alert.alert-danger(role='alert')
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
    span   There is no location in this conference.
-}

each location, i in listLocation

    .panel.panel-info(class='collapse-panel', data-id='#{location._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' href='#collapse-' + i)
                    span(class="glyphicon glyphicon-plus")
                //- a(data-toggle='collapse' href='#collapse-'+i)=location.name
                a(href='location/#{location._id}')
                    |  #{location.name}
        .panel-collapse.collapse.panel-info(id='collapse-' + i)
            .panel-body
                .row
                    .col-md-8(align='center')
                        table.table.table-user-information
                            tbody
                                tr
                                    td Location name
                                    td=location.name
                                tr
                                    td Uri
                                    td
                                        a(href=location.uri)=location.uri
                                //- each comment in location.list_comment
                                //- 	tr
                                //- 		td Comment
                                //- 		td=comment

                    .col-md-4(align='center')
                        br 
                        - if(isOwner){
                         a.btn.btn-success(href='/conference/#{conf._id}/location/#{location._id}' title="View")
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            //| View
                        a.btn.btn-info(href='/conference/#{conf._id}/location/#{location._id}/edit' title="Edit" style="margin-left: 5px")
                            i.glyphicon.glyphicon-edit.icon-white
                           // | Edit
                        a.btn.btn-danger(href='#' class="delete-location-btn" data-location-id='#{location._id}' title="Delete" style="margin-left: 5px")
                            i.glyphicon.glyphicon-trash.icon-white
                            //| Delete
                        -}