extends ../main.jade

block title
	title #{location.displayname}

block include-lib
	script(type='text/javascript' src='/js/conference/location/delete.js')

//- http://bootsnipp.com/snippets/featured/simple-user-profile
block content

	.panel.panel-info
		.panel-heading
			h3.panel-title=location.name
		.panel-body
			.col-md-11
				table.table.table-user-information
					tbody
						tr
							td Name
							td=location.name
						tr
							td Address
							td=location.address
						tr
							td Place
							td=location.nb_place
						tr
							td Description
							td=location.description

							- if(location.list_comment && location.list_comment.length > 0){
								each comment in location.list_comment
									tr
										td Comment
										td=comment
							-}
			
	- if(isOwner){
		.container-fluid(style="padding-right: 0px; padding-left: 0px;" align="right")
			a.btn.btn-info(href='/conference/#{conf._id}/location/#{location._id}/edit')
				//i.glyphicon.glyphicon-edit.icon-white
				| Edit
			a.btn.btn-danger(class='delete-location-btn' data-conf-id="#{conf._id}" data-location-slug=location.slug data-id-location="#{location._id}" style="margin-left: 5px")
				//i.glyphicon.glyphicon-trash.icon-white
				| Delete
	-}