extends ../main.jade


block title
    title All event

block include-lib
    // Css and Js
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css')
    link(rel='stylesheet', href='/css/conference/event/calendar/calendar.css')
    //
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='/js/conference/event/calendar/fullCalendar.js')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')






block content
    .container-fluid
        - if (typeof(listEvent) === 'undefined' || listEvent === null || (listEvent.length==0) ){
        .alert.alert-danger(role='alert')
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
            |   There is no event in this conference.
        -}

        - if (typeof(SuperEvent) != 'undefined' ){
            script.

                superEvent= !{JSON.stringify(SuperEvent)};
        -}



        script.
            events = !{JSON.stringify(listEvent)};
            confAcronym = !{JSON.stringify(conf.acronym)};
            console.log(confAcronym);






    div
        // Nav tabs
        ul#navTab.nav.nav-tabs(role='tablist')
            //li.active(role='presentation')a(href='#{conf.acronym}', aria-controls='#{conf.acronym}', role='tab', data-toggle='tab') #{conf.acronym}




        #wrap
            #external-events
                h4 Available :

                // <div class fc-event >My Event (title) </div>
                //.fc-event My Event 1
                #externalEventsList

                p
                    input#drop-remove(type='checkbox',checked='true',hidden='true')
                    //label(for='drop-remove') remove after drop

                    // Modal
                    -if(isOwner){
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal',style='margin-bottom:15px;width:50px;margin-left:40px')
                        | New
                    -}
            // Tab panes
            #navTabContent.tab-content
                //#{conf.acronym}.tab-pane.active(role='tabpanel')div(id = '#{conf.acronym}'+'Calendar')
                div(style='clear:both')

            //Modal for external events
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title New Event
                        .modal-body
                            .form-group
                                label(for='name') Name :
                                input#name.form-control(name='name',type='text')
                            .form-group
                                label Track *
                                select#category(class='form-control' name='category')
                                    each eventCat in listEventCat
                                        option(value='#{eventCat.name}') #{eventCat.name}
                            .form-group
                                label(for='summary') Summary :
                                input#summary.form-control(name='summary',type='text')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button#saveBtnModal.btn.btn-primary(type='button',data-dismiss='modal') Save



