extends ../main.jade

block title
		title New event

block include-lib
		script(type='text/javascript' src='/js/conference/event/create.js')
		script(type='text/javascript' src='/js/conference/eventCategory/create.js')

block content
		.container
			a#addEventCategory.btn.btn-success(href='#', style='margin-bottom:15px',data-toggle='modal', data-target='#myModal')
				i.glyphicon.glyphicon-plus.icon-white
				|    New event category

			h1 New event
			p.lead Please provide new event's information

			.row
				each eventCat in listEventCat
					#{eventCat.name}
				br
				form(id='event-form' role='form' method='post')

<<<<<<< HEAD
					.col-md-4
						.form-group
							label Name *
							input(type='text', name='name', class='form-control', 
								id='name', placeholder='event\'s name', 
								required, data-required-msg='Please enter event\'s name')
						.form-group
							label Uri (unique) *
							input(type='text', name='uri', class='form-control', 
								id='uri', placeholder='event\'s uri', 
								required, data-required-msg='Please enter event\'s unique Uri')
						.form-group
							label Summary
							textarea(type='text', name='summary', class='form-control', 
								id='uri', placeholder='event\'s resume')
						.form-group
							label(for='date-start') Start at *
							input(type='text', name='date_start', class='form-control date-picker',
							id='date-start', placeholder='Your event starts at: ',
							required, data-required-msg='Please choose a date')
						.form-group
							label(for='date-end') Finish at *
							input(type='text', name='date_end', class='form-control date-picker',
							id='date-end', placeholder='Your event lasts until: '
							required, data-required-msg='Please choose a date')
=======
					.row
						.col-md-4
							.form-group
								label Name *
								input(type='text', name='name', class='form-control',
									id='name', placeholder='event\'s name',
									required, data-required-msg='Please enter event\'s name')
					.row
						.col-md-4
							.form-group
								label Track *
								select#category(class='form-control' name='category')
									each eventCat in listEventCat
										option(value='#{eventCat.name}') #{eventCat.name}

					.row
						.col-md-4
							.form-group
								label(for='date-start') Start at *
								input(type='text', name='date_start', class='form-control date-picker',
									id='date-start', placeholder='Your event begins at: ',
									required, data-required-msg='Please choose a date')
						.col-md-4
							.form-group
								label(for='date-end') Finish at *
								input(type='text', name='date_end', class='form-control date-picker',
									id='date-end', placeholder='Your event lasts until: '
									required, data-required-msg='Please choose a date')
					.row
						.col-md-8
							.form-group
								label Summary
								textarea(type='text', name='summary', class='form-control',
									id='uri', placeholder='event\'s resume')
					.row
						.col-md-8
							.form-group
								button.btn.btn-success(id='create-button') Create
								a(href='/')
									button.btn.btn-default(type="button") Cancel


		#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#myModalLabel.modal-title New Event category
					.modal-body
>>>>>>> calendar2
						.form-group
							label(for='nameEventCat') Name :
							input#nameEventCat.form-control(name='name',type='text')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
						button#saveBtnModal.btn.btn-primary(type='button',data-dismiss='modal') Save