extends ../main.jade

block title
		title Edit your event

block include-lib
		script(type='text/javascript' src='/js/conference/event/edit.js')
		script(type='text/javascript' src='/js/conference/event/delete.js')

block content

	.page-header.center
		h2 Please provide your event's information
		a.btn.btn-success(href='/conference/#{conf.acronym}/event/#{event.slug}')
			i.glyphicon.glyphicon-eye.icon-white
			| < Back to event
		a.btn.btn-danger(class='delete-event-btn' data-event-slug=event.slug)
			i.glyphicon.glyphicon-trash.icon-white
			| Delete

	br
	form(id='event-form' role='form' method='post')

		.row
			.col-md-4
				.form-group
					input(type='hidden', name='slug',
						id='slug', value=event.slug)
				.form-group
					input(type='hidden', name='uri',
						id='uri', value=event.uri)
				.form-group
					label Name *
					input(type='text', name='name', class='form-control', 
						id='name', placeholder='Event\'s name',
						value=event.name
						required, data-required-msg='Please enter event\'s name')
		.row
			.col-md-4
				.form-group
					label Type *
					select#category(class='form-control' name='category')
						each eventCat in listEventCat
							if event._track.name == eventCat.name
								option(value='#{eventCat.name}' , selected='true') #{eventCat.name}
							else
								option(value='#{eventCat.name}') #{eventCat.name}
		.row
			.col-md-4
				.form-group
					label(for='date-start') Start date *
					input(type='text', name='date_start', class='form-control date-picker', 
						id='date-start', placeholder='Your event begins at: ', value=event.date_start
						required, data-required-msg='Please choose a date')
			.col-md-4
				.form-group
					label(for='date-end') End date *
					input(type='text', name='date_end', class='form-control date-picker', 
						id='date-end', placeholder='Your event lasts until: ', value=event.date_end
								required, data-required-msg='Please choose a date') 
		.row
			.col-md-4
				.form-group
					label(for='time-start') Start time *
					input(type='time', name='time_start',class="form-control",
					id='time-start', value=event.start_time,placeholder='Your event lasts until: '
					required, data-required-msg='Please choose a time')
			.col-md-4
				.form-group
					label(for='time-end') End time *
					input(type='time', name='time_end',class="form-control",
					id='time-end', value=event.end_time, placeholder='Your event lasts until: '
					required, data-required-msg='Please choose a time')
		.row
			.col-md-8
				.form-group
					label Summary
					textarea(name='summary', class='form-control',
						value=event.summary 
						id='summary', placeholder='Event\'s summary',
						required data-required-msg='Please enter event\'s summary')=event.summary
		.row
			.col-md-4
				.form-group
					button.btn.btn-success(id='save-button') Save

