each event, i in listEvent

    .panel.panel-info(data-id='#{event._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' href='#collapse-'+i)
                    span(class="glyphicon glyphicon-plus")
                //- a(data-toggle='collapse' href='#collapse-'+i)=event.name
                a(href='event/#{event.slug}')
                    |  #{event.name}
        .panel-collapse.collapse.panel-info(id='collapse-'+i)
            .panel-body
                .row
                    .col-md-12.col-lg-12
                        table.table.table-user-information
                            tbody
                                tr
                                    td Name
                                    td=event.name
                                tr
                                    td Track
                                    td=event.track.name
                                tr
                                    td Uri
                                    td
                                        a(href=event.uri)=event.uri
                                tr
                                    td Start at
                                    td=new Date(event.date_start).toDateString() + ", at " + new Date(event.date_start).toLocaleTimeString()
                                tr
                                    td End at
                                    td=new Date(event.date_end).toDateString() + ", at " + new Date(event.date_end).toLocaleTimeString()
                                tr
                                    td Summary
                                    td=event.summary
                                //- tr
                                //- 	td Location
                                //- 	td
                                //- 		a(href=event.location.location_uri)=event.location.location_uri

                        a.btn.btn-success(href='/conference/#{conf._id}/event/#{event._id}')
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            | View
                        - if(isOwner){
                        a.btn.btn-info(href='/conference/#{conf._id}/event/#{event._id}/edit')
                            i.glyphicon.glyphicon-edit.icon-white
                            | Edit
                        a.btn.btn-danger(href='#' class="delete-event-btn" data-event-slug='#{event._id}')
                            i.glyphicon.glyphicon-trash.icon-white
                            | Delete
                        -}