extends ../main.jade

block include-lib
	link(rel='stylesheet' href='/css/component/overview.css')
	script(type='text/javascript' src='/js/conference/event/sub-super-event.js')
	script(type='text/javascript' src='/js/conference/event/delete.js')
	script(type='text/javascript' src='/js/conference/event/create.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')

block content

	- if(isOwner){
		a.btn.btn-info(href='/conference/#{conf._id}/event/#{event._id}/edit')
			i.glyphicon.glyphicon-edit.icon-white
			| Edit data
		a.btn.btn-danger(href='#' class="delete-event-btn" data-event-id='#{event._id}')
			i.glyphicon.glyphicon-trash.icon-white
			| Delete
		a.btn.btn-success(href='/conference/#{conf._id}/event/#{event._id}/calendar' )
			i.glyphicon.glyphicon-calendar.icon-white
			|    View in calendar
	-}

	.row
		//- .col-md-9.col-lg-9
		table.table.table-user-information
			tbody
				tr
					td Name
					td=event.name
				//tr
					td Track
					td=event._track.name
				tr
					td Uri
					td
						a(href=event.uri)=event.uri
				tr
					td Start Date
					td=new Date(event.date_start).toDateString() + ", at " + new Date(event.date_start).toLocaleTimeString()

				tr
					td End Date
					td=new Date(event.date_end).toDateString() + ", at " + new Date(event.date_end).toLocaleTimeString()
				tr
					td Summary
					td=event.summary
				-if(typeof(location) !== 'undefined'){
					tr
						td Location
						td
							a(href=event.location.location_uri)=event.location.location_uri
				-}
		-if(isOwner && event.track.name != 'Talk'){
			.row(style="margin-top:30px")
				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse-sub-event')
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse-sub-event')
								|  Add sub event
					.panel-collapse.collapse(id='collapse-sub-event' data-event-slug=event._id)
						.btn.btn-success.add-button(data-event-slug=event._id data-event-type='subEvent',data-toggle='modal', data-target='#newEventModal')
							.glyphicon.glyphicon-plus
								| Add
						.btn.btn-default.close-button(data-event-type='subEvent')
							.glyphicon.glyphicon-remove
								| Close
						#list-sub-event-holder
						.btn.btn-success.add-button(data-event-slug=event._id data-event-type='subEvent')
							.glyphicon.glyphicon-plus
								| Add
						.btn.btn-default.close-button(data-event-type='subEvent',data-toggle='modal', data-target='#newEventModal')
							.glyphicon.glyphicon-remove
								| Close
		-}

		h3 Sub events
		table.table.table-user-information
			tbody
				each subEvent in event.idsSubEvent
					tr
						td
							a(href=subEvent.slug)=subEvent.name
						td
							a.btn.btn-success(href='/conference/#{conf._id}/event/#{subEvent._id}')
								i.glyphicon.glyphicon-zoom-in.icon-white
									| View
							-if(isOwner){
								a.btn.btn-danger(class='remove-sub-event-button' data-event-slug=event.slug
												 data-sub-event-slug=subEvent.acronym)
									i.glyphicon.glyphicon-trash.icon-white
										| Remove
							-}

		//-if(isOwner){
			.row(style="margin-top:30px")
				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse-super-event')
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse-super-event')
								|  Add super event
					.panel-collapse.collapse(id='collapse-super-event' data-event-slug=event.slug)
						.btn.btn-success.add-button(data-event-slug=event.slug data-event-type='superEvent')
							.glyphicon.glyphicon-plus
								| Add
						.btn.btn-default.close-button(data-event-type='superEvent')
							.glyphicon.glyphicon-remove
								| Close

		//-}


		-if(event._super_event) {
			h3 Super event
				br

				table.table.table-user-information
					tbody
						tr
							td
								a(href=event._super_event.slug)=event._super_event.name
							td
								a.btn.btn-success(href='/conference/#{conf.acronym}/event/#{event._super_event.slug}')
									i.glyphicon.glyphicon-zoom-in.icon-white
										| View


		-}






	//- -if(isOwner){
	//- 	.row(style="margin-top:30px")
	//- 		.col-md-6
	//- 			.panel.panel-info
	//- 				.panel-heading
	//- 					h4.panel-title
	//- 						a(data-toggle='collapse' href='#collapse')
	//- 							span(class="glyphicon glyphicon-plus")
	//- 						a(data-toggle='collapse' href='#collapse')
	//- 							|  Add author to event
	//- 				.panel-collapse.collapse(id='collapse' data-event-id=event._id)
	//- 					#list-user-holder
	//- 					.btn.btn-success#add-button(data-event-slug=event.slug)
	//- 						.glyphicon.glyphicon-plus
	//- 							| Add
	//- 					.btn.btn-default#close-button
	//- 						.glyphicon.glyphicon-remove
	//- 							| Close
	//- -}

	#newEventModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#myModalLabel.modal-title New Event
				.modal-body
					form(id='event-form' role='form' method='post')
						.form-group
							label Name *
							input(type='text', name='name', class='form-control',
							id='name', placeholder='event\'s name',
							required, data-required-msg='Please enter event\'s name')
						.form-group
							label Track *
							select#category(class='form-control' name='category')
								each eventCat in []
									option(value='#{eventCat.name}') #{eventCat.name}
						.form-group
							label(for='date-start') Start date *
							input(type='text', name='date_start', class='form-control date-picker',
							id='date-start', placeholder='Your event begins at: ',
							required, data-required-msg='Please choose a date')

						.form-group
							label(for='date-end') End date *
							input(type='text', name='date_end', class='form-control date-picker',
							id='date-end', placeholder='Your event lasts until: '
							required, data-required-msg='Please choose a date')
						.form-group
							label(for='time-start') Start time *
							input(type='time', name='time_start',class="form-control",
							id='time-start', placeholder='Your event lasts until: '
							required, data-required-msg='Please choose a time')
						.form-group
							label(for='time-end') End time *
							input(type='time', name='time_end',class="form-control",
							id='time-end', placeholder='Your event lasts until: '
							required, data-required-msg='Please choose a time')

						.form-group
							label Summary
							textarea(type='text', name='summary', class='form-control',
							id='uri', placeholder='event\'s resume')

						.form-group
							input#super_event_slug.form-control(type='hidden', name='super_event_slug',value='#{event.slug}',
							required='required')
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#newEventPersistBtn.btn.btn-primary(type='button',data-dismiss='modal') Save