extends ../main.jade


block title
    title All event

block include-lib
    //- script(type='text/javascript' src='/js/conference/person/delete.js')
    link(rel='stylesheet' href='/css/component/show-all.css')
    link(rel='stylesheet' href='/css/conference/event/calendar/fullcalendar.print.css')
    link(rel='stylesheet' href='/css/conference/event/calendar/fullcalendar.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js')
    script(type='text/javascript' src='/js/conference/event/calendar/jquery-ui.custom.min.js')
    script(type='text/javascript' src='/js/conference/event/calendar/fullcalendar.js')
    script(type='text/javascript' src='/js/conference/track/index.js')
    script(type='text/javascript' src='/js/conference/event/index.js')



block content
    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        div.row.alertError
        div
            div.row
                div.col-md-4
                    div.col-md-12
                        h4 Calendar settings
                    div.col-md-12
                        select.form-control.selectDurationSlot
                            option(value="30" selected=true) ---- Duration slot ----
                            option(value="15") 15
                            option(value="20") 20
                            option(value="30") 30
                            option(value="45") 45
                            option(value="60") 60
                div.col-md-4
                    div.col-md-12
                        h4 Filter by track
                    div.col-md-12
                        select.form-control.selectFilterByTrack
                            option(value="0" selected=true) ---- No filter ----


            div.tabsEvents.mt20
                ul.nav.nav-tabs(role='tablist')
                .tab-content
            #addSessionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addSessionModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#addSessionModalLabel.modal-title.title-type-event Add Session
                        .modal-body
                            .form-group
                                input(type='text', class='form-control hidden',
                                id='isSessionAddEvent',
                                required)
                            .form-group
                                label Name *
                                input(type='text', name='sessionName', class='form-control',
                                id='nameSessionAddModal', placeholder='Session name',
                                required)
                            .form-group
                                label Description *
                                input(type='text', name='sessionDescription', class='form-control',
                                id='descriptionSessionAddModal', placeholder='Session description',
                                required)
                            .form-group
                                label Location *
                                select(name='sessionLocation', class='form-control',
                                id='sessionLocation',required)
                            .form-group
                                label Track *
                                select(name='sessionTrack', class='form-control',
                                id='sessionTrack',required)
                            .form-group
                                label Event categorie *
                                select(name='sessionCategoriesEvent', class='form-control',
                                id='sessionCategoriesEvent',required)
                            .form-group
                                label(for='dateStartAddSession') Start date *
                                input(type='text', name='date_start', class='form-control date-picker',
                                id='dateStartAddSession', placeholder='Your event begins at: ',
                                required, data-required-msg='Please choose a date')

                            .form-group
                                label(for='dateEndAddSession') End date *
                                input(type='text', name='date_end', class='form-control date-picker',
                                id='dateEndAddSession', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a date')
                            .form-group
                                label(for='timeStartAddSession') Start time *
                                input(type='time', name='time_start',class="form-control",
                                id='timeStartAddSession', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a time')
                            .form-group
                                label(for='timeEndAddSession') End time *
                                input(type='time', name='time_end',class="form-control",
                                id='timeEndAddSession', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a time')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary.btnAddSessionModal(type='button') Add
            #updateSessionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='updateSessionModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#updateSessionModalLabel.modal-title
                                div.row
                                    div.col-md-5.title-type-event Update Session
                                    div.col-md-6
                                        a(role="button" id="btnGoIntoEvent").btn.btn-info Go into
                        .modal-body
                            .form-group.hidden
                                input(type='text', name='idSessionUpdateModal', class='form-control',
                                id='idSessionUpdateModal',)
                            .form-group
                                label Name *
                                input(type='text', name='nameSessionUpdateModal', class='form-control',
                                id='nameSessionUpdateModal', placeholder='Session name',
                                required)
                            .form-group
                                label Description *
                                input(type='text', name='descriptionSessionUpdateModal', class='form-control',
                                id='descriptionSessionUpdateModal', placeholder='Session description',
                                required)
                            .form-group
                                label Location *
                                select(name='sessionLocationUpdate', class='form-control',
                                id='sessionLocationUpdate',required)
                            .form-group
                                label Track *
                                select(name='sessionTrackUpdate', class='form-control',
                                id='sessionTrackUpdate',required)
                            .form-group
                                label Event categorie *
                                select(name='sessionUpdateCategoriesEvent', class='form-control',
                                id='sessionUpdateCategoriesEvent',required)
                            .form-group
                                label(for='dateStartSessionUpdate') Start date *
                                input(type='text', name='date_start', class='form-control date-picker',
                                id='dateStartSessionUpdate', placeholder='Your event begins at: ',
                                required, data-required-msg='Please choose a date')

                            .form-group
                                label(for='dateEndSessionUpdate') End date *
                                input(type='text', name='date_end', class='form-control date-picker',
                                id='dateEndSessionUpdate', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a date')
                            .form-group
                                label(for='timeStartSessionUpdate') Start time *
                                input(type='time', name='time_start',class="form-control",
                                id='timeStartSessionUpdate', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a time')
                            .form-group
                                label(for='timeEndSessionUpdate') End time *
                                input(type='time', name='time_end',class="form-control",
                                id='timeEndSessionUpdate', placeholder='Your event lasts until: '
                                required, data-required-msg='Please choose a time')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-danger.btnRemoveEventModal(type='button') Remove
                            button.btn.btn-primary.btnUpdateSessionModal(type='button') Update