extends ../layout/base.jade

block title
		title Access denied

block body

	.jumbotron
		h3 Sorry, we can't let you access to this page.
		-if (typeof(message) !== 'undefined'){
			.alert.alert-danger(role='alert')
				span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
				|   #{message}
		-}