extends ../layout/base.jade

block title
	title 404 eror

block body

	.jumbotron
		h3 Page not found: this resource has been removed or doesn't exist.
		-if (typeof(message) !== 'undefined'){
			.alert.alert-danger(role='alert')
				span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
				|   #{message}
		-}