extends ../layout/base.jade

block title
	title Account unverified

block body

	.jumbotron
		h2 Your account has not been confirmed.
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   Please check your inbox and click the link in your confirmation email.