extends ../layout/base.jade

block title
	title Verifcation success

block body

	.jumbotron
		h1 Verification success.
		.alert.alert-success(role='success')
			|   Thankyou for using our service. You can now sign in and create your conference.