extends ../layout/base.jade

block title
		title Access denied

block body

	.jumbotron
	h1 Verification failed.
	-if (typeof(message) !== 'undefined'){
		.alert.alert-danger(role='alert')
		span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
		|   Please send an email to contact@henrituan.com, we will take care of your registration.
	-}