link(rel='stylesheet' href='/css/component/list-user.css')


-if(typeof(listAvailableEvent) == ('undefined') || listAvailableEvent == null || listAvailableEvent.length == 0){
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   There is no event avaiable.

-}else{
	.row.list-user-holder
		each event in listAvailableEvent
			.col-md-6.user-holder
				.col-md-3.check-box
					input(type='checkbox' data-event-uri=event.uri data-event-acronym=event.acronym)
				.col-md-9
					a(href='/conference/#{confAcronym}/event/#{event.acronym}')=event.name
-}