link(rel='stylesheet' href='/css/component/list-user.css')

-if (err) {
	.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   #{err}
-}else {
	-if(typeof(listAvailablePerson) == ('undefined') || listAvailablePerson == null || listAvailablePerson.length == 0){
		.alert.alert-danger(role='alert' style='margin-bottom: 5px')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   There is no person avaiable.
	-}else{
		//- ul.list-group
			table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
				tbody
					each person, i in listAvailablePerson
						tr
							td
								input(type='checkbox' data-person-id=person._id data-person-acronym=person.acronym data-person-sha=person.sha)
							td
								img.img-responsive.img-circle(src=person.ava_path alt="avatar" style="max-height:100px; max-width:100px;")
							td
								a(href='/conference/#{confAcronym}/person/#{person.acronym}')=person.displayname
		.row.list-user-holder
			each person in listAvailablePerson
				.col-md-3.user-holder
					.col-md-4.check-box
						input(type='checkbox' data-person-slug=person.slug data-person-sha=person.sha data-person-uri=person.uri data-person-id='#{person._id}')
					.col-md-4
						img.img-responsive.img-circle(src=person.ava_path alt="avatar" style="max-height:100px; max-width:100px;")
					.col-md-4.pull-right
						a(href='/conference/#{confId}/person/#{person._id}')=person.displayname
	-}
-}