-if(typeof(listPerson) == ('undefined') || listPerson == null || listPerson.length == 0){
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   There is no person avaiable.

-}else{
	ul.list-group
		table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
			tbody
				each person in listPerson
					tr
						td
							img.img-responsive.img-circle(src=person.ava_path alt="avatar" style="max-height:100px; max-width:100px;")
						td
							a(href='/conference/#{confAcronym}/person/#{person.slug}')=person.displayname
						td
							.btn.btn-success#connect-btn(data-person-slug=person.slug data-person-uri=person.uri 
														data-person-displayname=person.displayname data-person-sha=person.sha)
								|	Connect as this person
-}