extends ../main.jade

block title
		title New publication

block include-lib
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js')
		script(type='text/javascript' src='/js/conference/publication/create.js')

block content
		.container(style="padding-right: 0px; padding-left: 0px;")
			h1 New publication
			p.lead Please provide new publication's information

			.row

				br
				form(id='publication-form' role='form' method='post')

					.col-md-4
						.form-group
							label Title *
							input(type='text', name='title', class='form-control', 
								id='title', placeholder='publication\'s title', 
								required, data-required-msg='Please enter publication\'s title')
						.form-group
							label Abstract *
							textarea(type='text', name='abstract', class='form-control', 
								id='abstract', placeholder='publication\'s abstract', 
								required, data-required-msg='Please enter publication\'s abstract')
						.form-group
							label(for="keywords-input") Keywords
							input(id="keywords-input", type="text", class='form-control')
						.form-group
							label(for="authors-input") Authors
							input(id="authors-input", type="text", class='form-control')
							ol.authors-list.list-group
						.form-group
							label(for="authors-input") Events
							input(id="events-input-add", type="text", class='form-control')
						.form-group
							table.table.table-striped#addTableEvents
						.form-group
							button.btn.btn-success(id='create-button' style="margin-right: 5px") Create
							a(href='/conference/#{conf._id}/publication')
								button.btn.btn-default(type="button") Cancel
