extends ../main.jade

block title
		title Edit your publication

block include-lib
		script(type='text/javascript' src='/js/conference/publication/edit.js')
		script(type='text/javascript' src='/js/conference/publication/delete.js')

block content

	.page-header.center
		h2 Please provide your publication's information
		a.btn.btn-info(href='/conference/#{conf._id}/publication')
			i.glyphicon.glyphicon-menu-left.icon-white
			| Back to publication(s)
	
	form(id='publication-form' role='form' method='post')

		.col-md-12
			.form-group
				input(type='hidden', name='slug',
					id='slug', value=pub.slug)
				input(type='hidden', name='uri',
					  value=pub.uri readonly id='uri', )
			.form-group
				label Title *
				input(type='text', name='title', class='form-control', 
					id='title', placeholder='Publication\'s title',
					value=pub.title
					required, data-required-msg='Please enter publication\'s title')
			.form-group
				label Abstract
				textarea(type='text', name='abstract', class='form-control',
						value=pub.abstract 
						id='abstract', placeholder='Publication\'s abstract',
						required data-required-msg='Please enter publication\'s abstract')=pub.abstract
			
			.form-group
				label(for="keywords-input") Keywords
				input(id="keywords-input", type="text", class='form-control')
			.form-group
				label(for="authors-input") Authors
				input(id="authors-input", type="text", class='form-control')
				ol.authors-list.list-group
			
			.form-group
				button.btn.btn-success(id='save-button') Save
				a(href='/conference/#{conf._id}/publication/#{pub._id}' style="margin-left: 5px")
					button.btn.btn-default(type="button") Cancel
				a.btn.btn-danger(class='delete-pub-btn' data-pub-id=pub._id style="margin-left: 5px") Delete