.col-md-3.user-holder(data-person-id=person._id)
    .col-md-10(style="text-align: center;")
        a(href='/conference/#{conf._id}/person/#{person._id}')
            img.img-responsive.img-circle(src=person.ava_path alt="avatar")
            | #{person.displayname}

    -if(isOwner){
    .col-md-2
        a.btn.btn-danger(class='remove-maker-button',
        data-pub-id=pubid,
        data-person-id=person._id)
            i.glyphicon.glyphicon-remove.icon-white
    -}