- if ((typeof(listPub) === 'undefined' || listPub === null || (listPub.length==0)) && (firstPage)){
    .alert.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        span   There is no publication this conference.
-}

- var i = 0
each pub in listPub

    .panel.panel-info(class='collapse-panel', data-id='#{pub._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' class='collapse-button' href='#collapse-' + i)
                    span(class="glyphicon glyphicon-menu-down")
                a(href='publication/#{pub._id}')
                    |  #{pub.title}
        .panel-collapse.collapse.panel-info.test(id='collapse-' + i)
            .panel-body
                .row
                    .col-md-9(align="center")
                        table.table.table-user-information(align="center")
                            tbody
                                tr
                                    td Title
                                    td=pub.title
                                tr
                                    td Uri
                                    td
                                        a(href=pub.uri)
                                            |  #{pub.uri}
                                tr
                                    td Abstract
                                    td=pub.abstract

                        - i++
                    .col-md-3(align="center")
                        br
                        br
                        - if(isOwner){
                        a.btn.btn-success(href='/conference/#{conf._id}/publication/#{pub._id}' title="View")
                            i.glyphicon.glyphicon-eye-open.icon-white
                            //|    View
                        a.btn.btn-info(href='/conference/#{conf._id}/publication/#{pub._id}/edit' title="Edit" style="margin-left:5px")
                            i.glyphicon.glyphicon-edit.icon-white
                           // |    Edit
                        a.btn.btn-danger(href='#' class="delete-pub-btn" data-pub-id='#{pub._id}' title="Delete" style="margin-left:5px")
                            i.glyphicon.glyphicon-trash.icon-white
                           // |    Delete
                        -}