extends ../main.jade

block include-lib
    link(rel='stylesheet' href='/css/component/overview.css')
    link(rel='stylesheet' href='/css/component/list-user.css')
    script(src='/js/conference/publication/maker.js')
    script(type='text/javascript' src='/js/conference/publication/delete.js')

block content
    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        .panel.panel-info
            .panel-heading
                h3.panel-title=pub.title
            .panel-body
                table.table.table-user-information.JColResizer(id='JColResizer0')
                    tbody
                        tr(data-attr-name="title")
                            td(style="text-align:center;") Title
                            td(style="text-align:center;")
                                span.editable=pub.title
                            td(style="text-align:center;")
                                button.btn.btn-default.btn-edit
                                    span.glyphicon.glyphicon-pencil
                        tr(data-attr-name="abstract")
                            td(style="text-align:center;") Abstract
                            td(style="text-align:center;")
                                span.editable=pub.abstract
                            td(style="text-align:center;")
                                button.btn.btn-default.btn-edit
                                    span.glyphicon.glyphicon-pencil
                        tr(data-attr-name="keywords")
                            td(style="text-align:center;") Keywords
                            td(style="text-align:center;")
                                span.editable=pub.keywords.join(', ')
                            td(style="text-align:center;")
                                button.btn.btn-default.btn-edit
                                    span.glyphicon.glyphicon-pencil
        .container-fluid(style="padding-right: 0px; padding-left: 0px; margin-bottom: 10px" align="right")
            - if(isOwner){
            a.btn.btn-info(href='/conference/#{conf._id}/publication/#{pub._id}/edit')
                //i.glyphicon.glyphicon-edit.icon-white
                | Edit
            a.btn.btn-danger(href='#' class="delete-pub-btn" data-pub-id='#{pub._id}')(style="margin-left: 5px")
                //i.glyphicon.glyphicon-trash.icon-white
                | Delete
            -}

        //-if(isOwner){
        //	.row(style="margin-top:30px")
        //		.panel.panel-info
        //			.panel-heading
        //				h4.panel-title
        //					a(data-toggle='collapse' href='#collapse')
        //						span(class="glyphicon glyphicon-plus")
        //					a(data-toggle='collapse' href='#collapse')
        //						|  Add author to publication
        //			.panel-collapse.collapse(id='collapse' data-pub-uri=pub.uri)
        //				.btn.btn-success.add-button(data-pub-uri=pub.uri)
        //					.glyphicon.glyphicon-plus
        //						| Add
        //				.btn.btn-default.close-button
        //					.glyphicon.glyphicon-remove
        //						| Close
        //				#list-user-holder
        //				.btn.btn-success.add-button(data-pub-uri=pub.uri)
        //					.glyphicon.glyphicon-plus
        //						| Add
        //				.btn.btn-default.close-button
        //					.glyphicon.glyphicon-remove
        //						| Close
        //-}
    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        .panel.panel-info
            .panel-heading
                h4.panel-title
                    | Add authors to publication
            .row
                .col-md-12
                    .input-group
                        .input-group-addon(for="authors-input") Author name
                        input.form-control(id="authors-input", type="text", placeholder='Enter name here')

    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        .authors-row
            -var noAuthors = (typeof(listAuthor) == ('undefined') || listAuthor == null || listAuthor.length == 0)
            -var displayAlert = noAuthors ? 'inline' : 'none';
            -var displayList =    noAuthors ? 'none' : 'inline';
            #authors-alert.col-md-12.alert.alert-danger(role='alert', style="display: #{displayAlert}")
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                |   This publication has no author.
            #authors-panel(style="display: #{displayList}")
                .panel.panel-info
                    .panel-heading
                        h4.panel-title
                            |    List authors of publication
                    .row.list-user-holder
                        -if(!noAuthors){
                            each person in listAuthor
                                .col-md-3.user-holder(data-person-id=person._id)
                                    .col-md-10(style="text-align: center;")
                                        a(href='/conference/#{conf._id}/person/#{person._id}')
                                            img.img-responsive.img-circle(src=person.ava_path alt="avatar")
                                            | #{person.displayname}

                                    -if(isOwner){
                                        .col-md-2
                                            a.btn.btn-danger(class='remove-maker-button',
                                                data-pub-uri=pub.uri,
                                                data-person-uri=person.uri,
                                                data-pub-id=pub._id,
                                                data-person-id=person._id)
                                                i.glyphicon.glyphicon-remove.icon-white
                                    -}
                        -}

    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        .panel.panel-info
            .panel-heading
                h4.panel-title
                    | Add events to publication
            .row
                .col-md-12
                    .input-group
                        .input-group-addon(for="events-input-add") Event name
                        input.form-control(id="events-input-add", type="text", placeholder='Enter name here')

    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        #relatedEvents
            .col-md-12.alert.alert-danger.hidden.no-events
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                |   This publication has no events
            .tab-events
