extends ../main.jade

block title
    title All tracks

block include-lib
    //- script(type='text/javascript' src='/js/conference/person/delete.js')
    link(rel='stylesheet' href='/css/component/show-all.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js')
    script(type='text/javascript' src='/js/conference/track/index.js')

block content
    .container-fluid(style="padding-right: 0px; padding-left: 0px;")
        div.row.alertError
        div
            #updateTrackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='updateTrackModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#updateTrackModalLabel.modal-title Update track
                        .modal-body
                            .form-group
                                label Name *
                                input(type='text', name='trackName', class='form-control',
                                id='trackNameToUpdate', placeholder='New Track name',
                                required)
                            .form-group
                                label Is votable ? *
                                input(type='checkbox', name='trackVotableUpdate', class='form-control',
                                id='trackVotableUpdate',
                                required)
                            .form-group
                                .input-group
                                    .input-group-addon(for="chairs-input-edit") Chairs
                                    input.form-control(id="chairs-input-edit", type="text", placeholder='Enter name here')
                            .form-group
                                table.table.table-striped#editTableChairs
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-success.btnUpdateTrackModal(type='button') Update
            button.btn.btn-success(type='button', data-toggle='modal', data-target='#addTrackModal', style='margin-bottom: 15px')
                i.glyphicon.glyphicon-plus.icon-white
                |  New track
            #addTrackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addTrackModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#addTrackModalLabel.modal-title Add track
                        .modal-body
                            .form-group
                                label Name *
                                input(type='text', name='trackName', class='form-control',
                                id='trackName', placeholder='Track name',
                                required)
                            .form-group
                                label Is votable ? *
                                input(type='checkbox', name='trackVotable', class='form-control',
                                id='trackVotable',
                                required)
                            .form-group
                                .input-group
                                    .input-group-addon(for="chairs-input-add") Chairs
                                    input.form-control(id="chairs-input-add", type="text", placeholder='Enter name here')
                            .form-group
                                table.table.table-striped#addTableChairs
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-success.btnAddTrackModal(type='button') Add
            .clearfix
            .tableTracks