doctype html
html

	head
		//- jquery UI
		//script(type='text/javascript' src='/libs/jquery-ui-1.11.4.custom/external/jquery/jquery.js')
		//script(type='text/javascript' src='/libs/jquery-ui-1.11.4.custom/jquery-ui.min.js')
		//link(rel='stylesheet', href='/libs/jquery-ui-1.11.4.custom/jquery-ui.min.css')

		script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')

		//- bootstrap
		//-link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		//link(rel='stylesheet' href='/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css')
		//link(rel='stylesheet' href='/libs/bootstrap-social/assets/css/font-awesome.css')
		//link(rel='stylesheet' href='/libs/bootstrap-social/bootstrap-social.css')
		//-script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
		//script(type='text/javascript' src='/libs/bootstrap-3.3.6-dist/js/bootstrap.min.js')

		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet' href='/libs/bootstrap-social/assets/css/font-awesome.css')
		link(rel='stylesheet' href='/libs/bootstrap-social/bootstrap-social.css')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')


		//- kendojs plugin
		//link(rel='stylesheet', href='/libs/kendo-ui/styles/kendo.common.min.css')
		//link(rel='stylesheet', href='/libs/kendo-ui/styles/kendo.bootstrap.min.css')


		//- noty
		script(type='text/javascript' src='/libs/noty-2.3.8/js/noty/packaged/jquery.noty.packaged.js')
		link(rel='stylesheet', href='/libs/animate.css')

		//- kartik bootstrap file input
		link(rel='stylesheet' href='/libs/kartik-v-bootstrap-fileinput-ae7308c/css/fileinput.min.css')
		script(type='text/javascript' src='/libs/kartik-v-bootstrap-fileinput-ae7308c/js/plugins/canvas-to-blob.min.js')
		script(type='text/javascript' src='/libs/kartik-v-bootstrap-fileinput-ae7308c/js/fileinput.min.js')
		script(type='text/javascript' src='/libs/kartik-v-bootstrap-fileinput-ae7308c/js/fileinput_locale_fa.js')

		//- timezone detect
		script(type='text/javascript' src='/libs/pellepim-jstimezonedetect-6c427658686c/dist/jstz.min.js')

		//- colResizable
		script(type='text/javascript' src='/libs/colResizable-master/colResizable-1.5.min.js')

		//- coutry region dropdown
		script(type='text/javascript' src='/libs/benkeen-country-region-selector/dist/crs.min.js')

		//- esimakin-twbs-pagination
		script(type='text/javascript' src='/libs/esimakin-twbs-pagination-4a2f5ff/jquery.twbsPagination.min.js')

		//- livequery
		script(type='text/javascript' src='/libs/jquery.livequery/dist/jquery.livequery.min.js')


		//- pacejs (loading ajax progress bar)
		//- script(type='text/javascript').
		//- 	// https://github.com/HubSpot/pace/issues/188
		//- 	paceOptions = {
		//- 		ajax: {
		//- 			trackMethods: ['GET', 'POST', 'DELETE', 'PUT', 'PATCH']
		//- 		}
		//- 	}
		//- script(type='text/javascript' src='/libs/pace-1.0.2/pace.min.js')
		//- link(rel='stylesheet' href='/libs/pace-1.0.2/themes/green/pace-theme-barber-shop.css' )

		//- dynamic input (custom plugin)
		script(type='text/javascript' src='/js/plugin/dynamic-input.js')

		//- custom style
		script(type='text/javascript' src='/js/layout/base.js')
		script(type='text/javascript' src='/js/plugin/noty.js')
		link(rel='stylesheet' href='/css/layout/base.css')


		block include-lib

		block title
			title base
	//- end head

	body
		include ./header.jade
		.container
			block body
		include ./footer.jade