script(type='text/javascript', src='/js/layout/header.js')
link(rel='stylesheet', href='/css/layout/header.css')

//- template form http://-www.jquery2dotnet.com
	
nav.navbar.navbar-default
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.logo(href='/')
				img(src='/img/sympozer_logo_long.png')
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href='/', data-toggle='dropdown')
							| Conference
							b.caret
						ul.dropdown-menu
							li
								a(href='/conference/create') New conference
							li
								a(href='/conference/myconferences') My conferences
			form.navbar-form.navbar-left(role='search' style='margin-left:100px; margin-top:22px')
				.form-group
					input.form-control(type='text', placeholder='Search conference' style='width:300px; margin-right:5px')
				button.btn.btn-default(type='submit') Search
			ul.nav.navbar-nav.navbar-right
				li.disabled
						a(href='') Application setting

					- if( typeof(session.user) == 'undefined' ) {
						li
							a(href='#{loginUrl}') Log in
						li
							a(href='#{registerUrl}') Register
						//- li.dropdown
							a.dropdown-toggle(href='/', data-toggle='dropdown')
								| Log in
								b.caret
							ul.dropdown-menu(style='padding: 15px;min-width: 250px;')
								li
									.row
										.col-md-12
											form#login-nav.form(role='form', method='post', action='/login', accept-charset='UTF-8')
												.form-group
													label.sr-only(for='email-input') Email address
													input#email-input.form-control(type='email', name='username',
																placeholder='Email address', required='')
												.form-group
													label.sr-only(for='password-input') Password
													input#password-input.form-control(type='password', name='password',
																placeholder='Password', required='')
												//-
													<div class="checkbox">
													<label>
													<input type="checkbox"> Remember me
													</label>
													</div>
												.form-group
													button.btn.btn-success.btn-block(type='submit') Log in
								li.divider
								li
									//-
										<input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
										<input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">
									a.btn.btn-block.btn-social.btn-linkedin(href='/auth/linkedin')
										span.fa.fa-linkedin
										|  Sign in with Linkedin
									a.btn.btn-block.btn-social.btn-facebook(href='/auth/facebook')
										span.fa.fa-facebook
										|  Sign in with Facebook
									a.btn.btn-block.btn-social.btn-google(href='/auth/google')
										span.fa.fa-google
										|  Sign in with Google
									a.btn.btn-block.btn-social.btn-twitter(href='/auth/twitter')
										span.fa.fa-twitter
										|  Sign in with Twitter
							//- /dropdown
					-}else{
						li
							a(href='#{myAccountUrl}') My account
						li
							a(href='#{logoutUrl}') Log out
						//- /.navbar-collapse
					-}