.panel .panel-heading ul.pagination.pagination-lg{
	display:table-cell;
}

.panel.info .panel-heading h4 {
	width: 80px;
	display: table-cell;
}

.panel-heading{
	padding-left: 10px;
	padding-right: 10px;
}