.collapse-button{
	font-size:20px;
}

.mt20 {
	margin-top: 20px;
}

.red-event {
	background-color: #DC2121 !important
}

.ui-autocomplete{
	z-index:99999999999 !important;
}

label[for=pageselect]{
	padding-right: 5px;
}

.page-select{
	text-align: right;
	padding-bottom: 10px;
}

.create-btn{
	margin-bottom: 15px;
}