extends ../main.jade

block title
		title Create person

block include-lib
		script(type='text/javascript' src='/js/conference/person/create.js')
		link(rel='stylesheet' href='/css/conference/person/create.css')

block content
		.container(style="padding-right: 0px; padding-left: 0px;")
			h1 New person
			p.lead Please provide new person's information

			.row

				br
				form(id='person-form' role='form' method='post')
					.col-md-4
						.form-group
							label(for='firstname') First name *
							input(type='text', name='firstname', class='form-control', 
								id='firstname', placeholder='Person\'s first name', 
								required, data-required-msg='Please enter person\'s first name')
						.form-group
							label(for='lastname') Last name *
							input(type='text', name='lastname', class='form-control', 
								id='lastname', placeholder='Person\'s last name / family name', 
								required, data-required-msg='Please enter person\'s last name / family name')
						.form-group
							label(for='email') Email *
							input(type='email', name='email', class='form-control', 
								id='email', placeholder='person.email@domain.com',
								required data-required-msg='Please enter person\'s email')

						.form-group
							label(for='roles') Roles
							#roles
								- if (typeof(listRoles) === 'undefined' || listRoles === null || listRoles.length==0){
									.alert.alert-danger(role='alert')
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
										span   There is no role in this conference.
								-}
								each role in listRoles
									.checkbox
										label
											input(class="role-input" type='checkbox', id=role._id)
											| #{role.name}
						br
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/conference/#{conf._id}/person')
								button.btn.btn-default(type="button" style="margin-left: 5px") Cancel
					.col-md-4
						.form-group
							label(for='homepage') Homepage
							input(type='text', name='homepage', class='form-control', 
								  id='homepage', placeholder='www.yourpage.com')
						.form-group
							label(for='country') Country *
							select(class='crs-country form-control' name='country'
								   data-region-id='region' data-default-option='Please select a contry'
								   data-default-value='France')
						.form-group(id='social-account-anchor')

				.col-md-3
					label Upload an avatar from your computer:
					#kv-avatar-errors(style='width:800px;display:none')
					form(id="ava-upload" enctype='multipart/form-data')
						.kv-avatar(style='width:220px; width: 170px;')
							input#ava.file-loading(name='image', type='file'
							data-default-ava-url=''
							data-default-preview-content='<img src="/img/sympozer_logo.png" alt="Avatar" style="width:160px">')
					br

					form(id="ava-url-form")
						label(for='ava-url') Or paste an avatar url:
						input.form-control(id='ava-url' type='text' name='avaUrl')
						button#ava-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" style="margin-top:5px;")(title='Cancel or reset changes') 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#ava-url-load(type="buton" class="btn btn-primary" style="margin-top:5px; margin-left:5px; width: 42px;")(title='Load image')
							i.glyphicon.glyphicon-refresh
							//span Load image