extends ../main.jade

block title
		title Edit person

block include-lib
		script(type='text/javascript' src='/js/conference/person/edit.js')
		script(type='text/javascript' src='/js/conference/person/delete.js')
		link(rel='stylesheet' href='/css/conference/person/create.css')

block content
		.container
			h2 Please provide the person's information
			a.btn.btn-info(href='/conference/#{conf._id}/person')
				i.glyphicon.glyphicon-menu-left.icon-white
				| Back to person
			.row
				br
				form(id='person-form' role='form' method='post')
					.col-md-4
						input(type='hidden', name='slug', class='form-control', 
							id='slug' value=person.slug readonly)
						input(type='hidden', name='uri', class='form-control', 
							id='uri' value=person.uri readonly)
						.form-group
							label(for='firstname') First name *
							input(type='text', name='firstname', class='form-control', 
								id='firstname', placeholder='Person\'s first name', 
								value=person.firstname
								required, data-required-msg='Please enter person\'s first name')
						.form-group
							label(for='lastname') Last name *
							input(type='text', name='lastname', class='form-control', 
								id='lastname', placeholder='Person\'s last name / family name', 
								value=person.lastname
								required, data-required-msg='Please enter person\'s last name / family name')
						.form-group
							label(for='email') Email
							input(type='email', name='email', class='form-control', 
								id='email', placeholder='person.email@domain.com',
								value=person.email)
						.form-group
							label(for='roles') Roles
							#roles
								each role in listRoles
									.checkbox
										label
											- if(person.idRoles != null && (person.idRoles.indexOf(role._id) != -1)){
												input(class="role-input" type='checkbox', id=role._id, checked)
											-}else{
												input(class="role-input" type='checkbox', id=role._id)
											-}
											| #{role.name}

						br
						.form-group
							button.btn.btn-success(id='save-button') Save
							a(href='/conference/#{conf._id}/person/#{person._id}' style="margin-left: 5px")
								button.btn.btn-default(type="button") Cancel
							a.btn.btn-danger(class='delete-person-btn' data-person-slug=person.slug style="margin-left: 5px")
								//i.glyphicon.glyphicon-trash.icon-white
								| Delete
					.col-md-4
						.form-group
							label(for='homepage') Homepage
							input(type='text', name='homepage', class='form-control', 
								  id='homepage', placeholder='www.yourpage.com'
								  value=person.homepage)
						.form-group
							label(for='country') Country *
							select(class='crs-country form-control' name='country'
								   data-region-id='region' data-default-option='Please select a contry'
								   data-default-value=person.country)
						//- .form-group
						//- 	label(for='region') Region *
						//- 	select(id='region' class='form-control' name='region'
						//- 		   data-blank-option='France' data-default-option='Please select a region'
						//- 		   data-default-value=person.location.region)
						.form-group(id='social-account-anchor' data-init-inputs=person.social_account)

				.col-md-4
					label Upload a photo from your computer:
					#kv-avatar-errors(style='width:800px;display:none')
					form(id="ava-upload" enctype='multipart/form-data')
						.kv-avatar(style='width:220px')
							input#ava.file-loading(name='image', type='file'
							data-default-ava-url=person.ava_path
							data-default-preview-content='<img src="'+person.ava_path+'" alt="Avatar" style="width:160px">'
							data-default-img-src=person.ava_path)
					br
					br

					form(id="ava-url-form")
						label(for='ava-url') Or paste a photo url:
						input.form-control(id='ava-url' type='text' name='avaUrl')(tile="Cancel or reset changes")
						button#ava-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button" style="margin-top: 5px") 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#ava-url-load(type="buton" class="btn btn-primary" style="margin-top: 5px; margin-left: 5px")(title="Load image")
							i.glyphicon.glyphicon-refresh
							//span Load image