- if ((typeof(listPerson) === 'undefined' || listPerson === null || (listPerson.length==0)) && (firstPage)){
    .alert.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        span   There is no person in this conference.
-}

each person, i in listPerson

    .panel.panel-info(class='collapse-panel', data-id='#{person._id}')
        .panel-heading
            h4.panel-title
                a(data-toggle='collapse' class='collapse-button' href='#collapse-' + i)
                    span(class="glyphicon glyphicon-plus")
                a(href='person/#{person._id}')
                    |  #{person.displayname}
        .panel-collapse.collapse.panel-info(id='collapse-' + i)
            .panel-body
                .row
                    .col-md-3(align='center')
                        img.img-circle.img-responsive(src='#{person.ava_path}')(style="max-width: 65%")

                    .col-md-6(align='center')
                        table.table.table-user-information
                            tbody
                                tr
                                    td First name
                                    td=person.firstname
                                tr
                                    td Last name
                                    td=person.lastname
                                tr
                                    td Uri
                                    td
                                        a(href='#{person.uri}')=person.uri
                    .col-md-3(align="center")
                        br
                        br
                        a.btn.btn-success(href='/conference/#{conf._id}/person/#{person._id}' title="View")
                            i.glyphicon.glyphicon-zoom-in.icon-white
                            //| View
                        - if(isOwner){
                        a.btn.btn-info(href='/conference/#{conf._id}/person/#{person._id}/edit' title="Edit" style="margin-left: 5px")
                            i.glyphicon.glyphicon-edit.icon-white
                           // | Edit
                        a.btn.btn-danger(href='#' class="delete-person-btn" data-person-id='#{person._id}' title="Delete" style="margin-left: 5px")
                            i.glyphicon.glyphicon-trash.icon-white
                            //| Delete
                        -}