extends ../main.jade

block title
	title #{person.displayname}

block include-lib
	script(type='text/javascript' src='/js/conference/person/show.js')
	script(type='text/javascript' src='/js/conference/person/delete.js')

//- http://bootsnipp.com/snippets/featured/simple-user-profile
block content

	.panel.panel-info
		.panel-heading
			h3.panel-title=person.displayname
		.panel-body
			.row
				.col-md-3.col-lg-3(align='center')
					img.img-circle.img-responsive(alt='User Pic', src='#{person.ava_path}')

				.col-md-9.col-lg-9
					table.table.table-user-information
						tbody
							tr
								td First name
								td=person.firstname
							tr
								td Last name
								td=person.lastname
							tr
								td Email
								td
									a(href='mailto:#{person.email}')=person.email
							tr
								td Uri
								td
									a(href='#{person.uri}')=person.uri
							tr
								td Homepage
								td
									a(href='#{person.homepage}')=person.homepage
							tr
								td Country
								td=person.country
							td Social accounts
							td
								each account in person.social_account
									a(href="#{account}")=account
									br

							tr
								td Organizations
								td
									-if(typeof(listOrganizations) == ('undefined') || listOrganizations == null || listOrganizations.length == 0){
									.alert.alert-danger(role='alert')
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
										|   This person has not joined any organization yet.
									-}else{
									each orga in listOrganizations
										a(href='/conference/#{conf._id}/organization/#{orga._id}')=orga.name
										br
									-}
							tr
								td Publications
								td
									-if(typeof(listPubs) == ('undefined') || listPubs == null || listPubs.length == 0){
									.alert.alert-danger(role='alert')
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
										|   This person does not have any publications.
									-}else{
									each pub in listPubs

										a(href='/conference/#{conf._id}/publication/#{pub._id}')=pub.title
										br
									-}
							tr
								td Roles
								td
									-if(typeof(listRoles) == ('undefined') || listRoles == null || listRoles.length == 0){
										.alert.alert-danger(role='alert')
											span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
											|   This person does not have any role.
									-}else{
										each role in listRoles
											a(href='/conference/#{conf._id}/role/#{role._id}')=role.name
											br
									-}

	- if(isOwner){
		.container-fluid(style="padding-right: 0px; padding-left: 0px;" align="right")
			a.btn.btn-info(href='/conference/#{conf._id}/person/#{person._id}/edit')
				//i.glyphicon.glyphicon-edit.icon-white
				| Edit
			a.btn.btn-danger(class='delete-person-btn' data-person-id=person._id style="margin-left: 5px")
				//i.glyphicon.glyphicon-trash.icon-white
				| Delete
	-}