//- jquery UI
script(type='text/javascript' src='/libs/jquery-ui-1.11.4.custom/external/jquery/jquery.js')
script(type='text/javascript' src='/libs/jquery-ui-1.11.4.custom/jquery-ui.min.js')
link(rel='stylesheet', href='/libs/jquery-ui-1.11.4.custom/jquery-ui.min.css')

script(type='text/javascript' src='/js/test.js')

h1 TEST
