extends ../layout/base.jade

block title
		title New organization

block include-lib
		script(type='text/javascript' src='/js/organization/create.js')

block body
		.container
			h1 New organization
			p.lead Please provide new organization's information

			.row

				br
				form(id='organization-form' role='form' method='post')

					.col-md-4
						.form-group
							label Name *
							input(type='text', name='name', class='form-control', 
								id='name', placeholder='Organization\'s name', 
								required, data-required-msg='Please enter organization\'s name')
						.form-group
							label Homepage
							input(type='text', name='homepage', class='form-control', 
								  id='homepage', placeholder='www.yourpage.com')
						.form-group
							label Description
							input(type='description', name='description', class='form-control', 
								id='description', placeholder='Organization\s description',
								required data-required-msg='Please enter organization\'s description') 
							br
						.form-group
							button.btn.btn-success(id='create-button') Create
							a(href='/')
								button.btn.btn-default(type="button") Cancel

				.col-md-4
					label Upload a logo from your computer:
					#kv-logo-errors(style='width:800px;display:none')
					form(id="logo-upload" enctype='multipart/form-data')
						.kv-logo(style='width:220px')
							input#logo.file-loading(name='image', type='file'
							data-default-logo-url=''
							data-default-preview-content='<img src="" alt="Avatar" style="width:160px">')
					br
					br

					form(id="logo-url-form")
						label(for='logo-url') Or paste a logo url:
						input.form-control(id='logo-url' type='text' name='logoUrl')
						button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button") 
							i.glyphicon.glyphicon-remove
							span Cancel
						button#logo-url-load(type="buton" class="btn btn-primary") 
							i.glyphicon.glyphicon-refresh
							span Load image