extends ./main.jade

block title
		title Edit your organization

block include-lib
		script(type='text/javascript' src='/js/organization/edit.js')
		script(type='text/javascript' src='/js/organization/delete.js')

block content

	.page-header.center
		h2 Please provide your organization's information
		a.btn.btn-danger(class='delete-orga-btn' data-orga-acronym=orga.acronym)
			i.glyphicon.glyphicon-trash.icon-white
			| Delete

	br
	form(id='organization-form' role='form' method='post')

		.col-md-4
			.form-group
				input(type='hidden', name='acronym',
					id='acronym', value=orga.acronym)
			.form-group
				label Name *
				input(type='text', name='name', class='form-control', 
					id='name', placeholder='Organization\'s name',
					value=orga.name
					required, data-required-msg='Please enter organization\'s name')
			.form-group
				label Homepage
				input(type='text', name='homepage', class='form-control',
					  value=orga.homepage 
					  id='homepage', placeholder='www.yourpage.com')
			.form-group
				label Description
				input(type='description', name='description', class='form-control',
					value=orga.description 
					id='description', placeholder='Organization\s description',
					required data-required-msg='Please enter organization\'s description') 
				br
			.form-group
				button.btn.btn-success(id='save-button') Save
				a(href='/')
					button.btn.btn-default(type="button") Cancel

	.col-md-4
		label Upload a logo from your computer:
		#kv-logo-errors(style='width:800px;display:none')
		form(id="logo-upload" enctype='multipart/form-data')
			.kv-logo(style='width:220px')
				input#logo.file-loading(name='image', type='file'
				data-default-logo-url=orga.logo_path
				data-default-preview-content='<img src="'+orga.logo_path+'" alt="Logo" style="width:160px">'
				data-default-img-src=orga.logo_path)
		br
		br

		form(id="logo-url-form")
			label(for='logo-url') Or paste a logo url:
			input.form-control(id='logo-url' type='text' name='logoUrl')
			button#logo-url-remove(type="buton" class="btn btn-warning fileinput-remove fileinput-remove-button") 
				i.glyphicon.glyphicon-remove
				span Cancel
			button#logo-url-load(type="buton" class="btn btn-primary") 
				i.glyphicon.glyphicon-refresh
				span Load image