extends ../layout/base.jade

block title
	title #{orga.name}

	
block body

	//- booststrap snippets: http://bootsnipp.com/snippets/featured/people-card-with-tabs
	link(rel='stylesheet' href='/css/component/main.css')
	script(type='text/javascript' src='/js/component/main.js')


	.card.hovercard
		.card-background
			img.card-bkimg(alt='', src='#{orga.logo_path}')
		.useravatar
			img(alt='', src='#{orga.logo_path}')
		.card-info
			span.card-title=orga.name
	.btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', id="nav" data-active="#{activeCode}")
		.btn-group(role='group')
			a#overview.btn.btn-default(type='button', href='/organization/#{orga.acronym}')
				span.glyphicon.glyphicon-th-list(aria-hidden='true')
				.hidden-xs Overview
		.btn-group(role='group')
			a#member.btn.btn-default(type='button', href='/organization/#{orga.acronym}/members')
				span.glyphicon.glyphicon-user(aria-hidden='true')
				.hidden-xs Members
		- if(isOwner){
		.btn-group(role='group')
			a#edit.btn.btn-default(type='button', href='/organization/#{orga.acronym}/edit')
				span.glyphicon.glyphicon-tasks(aria-hidden='true')
				.hidden-xs Edit data
		-}

	br
	br
	block content

