extends ./main.jade

block include-lib
	script(src='/js/organization/member.js')

block content

	-if(isOwner){
		.row
			.col-md-6
				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse')
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse')
								|  Add member to organization
					.panel-collapse.collapse(id='collapse' data-orga-id=orga._id)
						#list-user-holder
						.btn.btn-success#add-button
							.glyphicon.glyphicon-plus
								| Add
						.btn.btn-default#close-button
							.glyphicon.glyphicon-remove
								| Close
	-}

	-if(typeof(listMember) == ('undefined') || listMember == null || listMember.length == 0){
		.alert.alert-danger(role='alert')
			span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
			|   There is no person in this organization.

	-}else{

		ul.list-group
		table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
			thead
				tr
					th(style="width:150px")
			tbody
				each person, index in listMember
					- var person = person.person
					tr
						td(style="width:150px; text-align: center;")
							a(href='/person/#{person.acronym}')
								img.img-responsive.img-circle(src=person.ava_path alt="avatar" 
												style="max-height:100px; max-width:100px; margin: 0 auto;")
								| #{person.displayname}

						-if(isOwner){
							td(style="width:100px")
								//- button.btn.btn-success(class='save-person-button'  data-index=index data-person-id=person._id
								//-  					data-person-firstname=person.firstname data-person-lastname=person.lastname) 
								//- 	|Save
								a.btn.btn-danger(class='remove-member-button' data-person-id=person._id data-person-acronym=person.acronym
													data-person-firstname=person.firstname data-person-lastname=person.lastname)
									i.glyphicon.glyphicon-trash.icon-white
										| Remove
						-}
						
	-}