extends ./main.jade

block include-lib
	link(rel='stylesheet' href='/css/component/overview.css')

block content

		.panel.panel-primary
			.panel-heading
			table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
				thead
					tr
						th Key
						th Value
				tbody
						each val, index in orga
							tr
								td.center=index
								td.center=val