extends ../layout/base.jade

//-block include-lib


block title
	title All organizations

block include-lib
	script(type='text/javascript' src='/js/organization/delete.js')

block body
	.container-fluid
		- if (typeof(listOrga) === 'undefined' || listOrga === null || (listOrga.length==0) ){
				.alert.alert-danger(role='alert')
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
					|   There is no organization in database.
		-}

		- var i = 0
			each orga in listOrga

				.panel.panel-info
					.panel-heading
						h4.panel-title
							a(data-toggle='collapse' href='#collapse-'+i)
								span(class="glyphicon glyphicon-plus")
							a(data-toggle='collapse' href='#collapse-'+i)=orga.name
							a(href='/organization/#{orga.acronym}')
								|  (#{orga.acronym})
					.panel-collapse.collapse.panel-info(id='collapse-'+i)
						.panel-body
							.row
								.col-md-3.col-lg-3(align='center')
									img.img-circle.img-responsive(alt='Organization logo', src='#{orga.logo_path}')

								.col-md-9.col-lg-9
									table.table.table-user-information
										tbody
											tr
												td Name
												td=orga.name
											tr
												td Homepage
												td
													a(href=orga.homepage)
														|  #{orga.homepage}
											tr
												td Description
												td=orga.description
									- i++
									- if(orga.isOwner){
										a.btn.btn-info(href='/organization/#{orga.acronym}/edit')
											i.glyphicon.glyphicon-edit.icon-white
											| Edit
										a.btn.btn-danger(href='#' class="delete-orga-btn" data-orga-acronym='#{orga.acronym}')
											i.glyphicon.glyphicon-trash.icon-white
											| Delete
									-}